_site/
.cache/
.jekyll-cache/
node_modules/

_site
.sass-cache
.jekyll-metadata
.idea
Thumbs.db
*.aux
*.run.xml
*.blg
*.out
*.log
*.bcf
*.bbl
*.lock
.ipynb_checkpoints/
*.crdownload

*-checkpoint.ipynb
0*.png
*.synctex.gz
*.pyc

__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
static/styles/index.js