.DS_Store
_site/
.cache/
.jekyll-cache/
node_modules/
.venv
**/node_modules
.vscode
resources/_gen/assets
public/

__pycache__
.DS_Store
_site
.sass-cache
.jekyll-metadata
.idea
Thumbs.db
*.aux
*.run.xml
*.blg
*.out
*.log
*.bcf
*.bbl
*.lock
.ipynb_checkpoints/
*.crdownload

*-checkpoint.ipynb
0*.png
*.synctex.gz
*.pyc

__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
static/styles/index.js
**/*tmp*

*.Identifier