<div class="content-wide about">

    <h1 class="name mb-8" data-aos="fade-up">
        <span class="font-thin">Hi, I'm </span>
        <span class="text-gradient">Samuel Hinton</span>
    </h1>
    <p class="subtitle " data-aos="fade-up">
        I'm an 
        <a class="under red-under" href="#books">author</a>,
        <a class="under blue-under" href="tutorials">data scientist</a>,
        <a class="under orange-under" href="podcast">astrophysicist</a>,
        <a class="under green-under" href="tutorials">software engineer</a>,
        <a class="under purple-under" href="#courses">educator</a>, and
        <a class="under red-under" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">pizza lover</a>.
    </p>
</div>