<div class="inner-expand">

<div class="container sidebar-container" id="i18_about_me">
    <div class="row m-b-lg hide-if-big">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span>About Me</span></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-nxl-3"></div>
        <div class="col-nxl-6">
            <div class="team-member wow fadeIn">
                <a target="_blank" class="hide-if-not-big" href="static/resume/HintonCV.pdf"><h2><span class="navy"  style="font-size: 24px;">{{ site.author.first_name }} {{ site.author.last_name }}</span> </h2></a>
                <a target="_blank" href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}"><img src="{{ site.author.head_img | prepend: site.baseurl }}" height="200" width="200" class="img-responsive img-circle" alt="" style="filter: grayscale(1.0);"></a>
                <a target="_blank" class="hide-if-big" href="static/resume/HintonCV.pdf"><span class="navy"><h2>{{ site.author.first_name }} {{ site.author.last_name }}</h2></span> </a>
            </div>
        </div>
        <div class="col-nxl-3"></div>
    </div>
    <div class="row wow fadeIn ">
        <div class="col-nxl-3"></div>
        <div class="text-center desc col-nxl-6">
            <p class="hide-if-big wider-when-small" style="font-size: 1.3em; line-height: 1.5em;">Astrophysics, cosmology, software engineering, science communication. My interests lie in Bayesian modelling, machine learning, and generally just doing things <em>right</em>.</p>
            <p class="hide-if-not-big">Astrophysics.
            Cosmology.
            Software engineering.
            Science Communication.</p>
            <p class="hide-if-not-big">My interests lie in Bayesian modelling, machine learning, and generally just doing things <em>right</em>.</p>
            <a href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}" target="blank"><p class="hide-if-not-big">If you want the see updates, head to LinkedIn</p></a>
            <ul class="list-inline social-icon wider-when-small" style="margin-top: 2em;">
                <li>
                    <a href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}" target="blank">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/{{ site.author.github_username }}" target="blank">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
                <li>
                    <a href="mailto:{{ site.author.email }}">
                        <i class="fa fa-envelope-o"></i>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="static/resume/HintonCV.pdf">
                        <i class="fa fa-file-pdf-o"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-nxl-3"></div>
    </div>
</div>
</div>