<div class="front-container" style="margin-top: 0; padding-bottom: 50px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center wow fadeIn">
                <div class="navy-line"></div>
                <h1><span>An overview of uncountable hours of work...</span></h1>
            </div>
        </div>
        <div class="row academia-links blog frontpage">
            <div class="col-sm-6 col-lg-3 wow fadeIn m-b-md padding-bottom">
                <a href="tutorials">
                    <div class="card">
                        <img src="static/img/tutorials/us_covid_evolution/thumb_card.jpg"
                             class="img-card img"
                             width="225"
                             height="175"/>
                        <div class="card-footer block-content">
                            <div class="card-title">
                                <h2>Tutorials</h2>
                            </div>
                            <div class="card-desc">
                                <p>All things science, python and plotting.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeIn m-b-md padding-bottom" data-wow-delay="50ms">
                <a href="projects">
                    <div class="card">
                        <img src="data:image/gif;base64, {{site.data.imgdata['projects/bao/thumb_card.jpg'].data}}"
                             class="img-card img"
                             data-src="static/img/projects/steve/thumb_card.jpg"
                             width="{{site.data.imgdata['projects/steve/thumb_card.jpg'].width}}"
                             height="{{site.data.imgdata['projects/steve/thumb_card.jpg'].height}}"/>
                        <div class="card-footer block-content">
                            <div class="card-title">
                                <h2>Projects</h2>
                            </div>
                            <div class="card-desc">
                                <p>Definition: things that took a lot of time.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeIn m-b-md padding-bottom" data-wow-delay="100ms">
                <a href="talks">
                    <div class="card">
                        <img src="data:image/gif;base64, {{site.data.imgdata['outreach/famelab/thumb_card.jpg'].data}}"
                             class="img-card img"
                             data-src="static/img/outreach/famelab/thumb_card.jpg"
                             width="{{site.data.imgdata['outreach/famelab/thumb_card.jpg'].width}}"
                             height="{{site.data.imgdata['outreach/famelab/thumb_card.jpg'].height}}"/>
                        <div class="card-footer block-content">
                            <div class="card-title">
                                <h2>Talks</h2>
                            </div>
                            <div class="card-desc">
                                <p>Academic presentations to public talks in a pub!</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeIn m-b-md padding-bottom" data-wow-delay="150ms">
                <a target="_blank" href="static/resume/HintonCV.pdf">
                    <div class="card">
                        <img src="static/img/landing/resume2.jpg"
                             class="img-card img"
                             width="225"
                             height="175"/>
                        <div class="card-footer block-content">
                            <div class="card-title">
                                <h2>Resume</h2>
                            </div>
                            <div class="card-desc">
                                <p>Everything bundled into a nice PDF.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--<div class="col-sm-6 col-lg-3 wow fadeIn m-b-md padding-bottom" data-wow-delay="200ms">
                <a href="https://ui.adsabs.harvard.edu/search/fq=%7B!type%3Daqp%20v%3D%24fq_database%7D&fq_database=database%3A%20astronomy&q=pubdate%3A%5B2015-01%20TO%209999-12%5D%20author%3A(%22Hinton%2C%20S%22)&sort=date%20desc%2C%20bibcode%20desc&p_=0">
                    <div class="card">
                        <img src="data:image/gif;base64, {{site.data.imgdata['projects/globular/thumb_card.jpg'].data}}"
                             class="img-card img"
                             data-src="static/img/projects/globular/thumb_card.jpg"
                             width="{{site.data.imgdata['projects/globular/thumb_card.jpg'].width}}"
                             height="{{site.data.imgdata['projects/globular/thumb_card.jpg'].height}}"/>
                        <div class="card-footer block-content">
                            <div class="card-title">
                                <h2>Papers</h2>
                            </div>
                            <div class="card-desc">
                                <p>Prior works of mine and my collaborators.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>-->
            <div class="col-sm-6 col-lg-3 wow fadeIn m-b-md padding-bottom" data-wow-delay="200ms">
                <a href="podcast">
                    <div class="card">
                        <img src="static/img/landing/podcast.jpg"
                             class="img-card img"
                             width="225"
                             height="175"/>
                        <div class="card-footer block-content">
                            <div class="card-title">
                                <h2>Podcast</h2>
                            </div>
                            <div class="card-desc">
                                <p>Check out my podcast, Commuting the Cosmos!</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeIn m-b-md padding-bottom" data-wow-delay="250ms">
                <a href="{{ site.data.courses['stat'].url }}">
                    <div class="card">
                        <img src="{{ site.data.courses['stat'].img }}"
                             class="img-card img"
                             width="225"
                             height="175"/>
                        <div class="card-footer block-content">
                            <div class="card-title">
                                <h2>{{ site.data.courses['stat'].name }}</h2>
                            </div>
                            <div class="card-desc">
                                <p>{{ site.data.courses['stat'].desc2 }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeIn m-b-md padding-bottom" data-wow-delay="300ms">
                <a href="{{ site.data.courses['data'].url }}">
                    <div class="card">
                        <img src="{{ site.data.courses['data'].img }}"
                             class="img-card img"
                             width="225"
                             height="175"/>
                        <div class="card-footer block-content">
                            <div class="card-title">
                                <h2>{{ site.data.courses['data'].name }}</h2>
                            </div>
                            <div class="card-desc">
                                <p>{{ site.data.courses['data'].desc2 }}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeIn m-b-md padding-bottom" data-wow-delay="350ms">
                <a href="blogs">
                    <div class="card">
                        <img src="static/img/blog/planets/thumb_card.jpg"
                             class="img-card img"
                             width="225"
                             height="175"/>
                        <div class="card-footer block-content">
                            <div class="card-title">
                                <h2>Blog</h2>
                            </div>
                            <div class="card-desc">
                                <p>A random collection of science, art, travel and hobbies.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>


        </div>
    </div>
</div>
