<div class="front-container" style="margin-top: 0; padding-bottom: 50px;">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1><span>Academia</span></h1>
            </div>
        </div>
        <div class="row academia-links">
            <div class="col-sm-6 wow fadeIn spaced" >
                <a href="projects" class="box-img card">
                    <div class="background-image" style="background-image: url('static/img/projects/bao/thumb_project.jpg');"></div>
                    <h1>Projects</h1>
                </a>
            </div>
            <div class="col-sm-6 wow fadeIn spaced" >
                <a href="talks" class="box-img card">
                    <div class="background-image" style="background-image: url('static/img/outreach/famelab/thumb_outreach.jpg');"></div>
                    <h1>Talks</h1>
                </a>
            </div>
            <div class="col-sm-6 wow fadeIn spaced" >
                <a href="papers" class="box-img card">
                    <div class="background-image" style="background-image: url('static/img/projects/globular/thumb_project.jpg');"></div>
                    <h1>Papers</h1>
                </a>
            </div>
            <div class="col-sm-6 wow fadeIn spaced" >
                <a href="#" class="box-img card">
                    <div class="background-image" style="background-image: url('static/img/outreach/botb/thumb_outreach.jpg');"></div>
                    <h1>Podcast</h1>
                </a>
            </div>
        </div>
    </div>
</div>
