<div class="front-container" style="margin-top: 0; padding-bottom: 50px;">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center wow fadeIn">
                <div class="navy-line"></div>
                <h1><span>My life</span></h1>
            </div>
        </div>
        <div class="row academia-links blog frontpage">
            <div class="col-sm-6 col-lg-3 wow fadeIn m-b-md padding-bottom" >
                <a href="projects">
                    <div class="card">
                        <img src="data:image/gif;base64, {{site.data.imgdata['projects/bao/thumb_card.jpg'].data}}"
                             class="img-card img"
                             data-src="static/img/projects/steve/thumb_card.jpg"
                             width="{{site.data.imgdata['projects/steve/thumb_card.jpg'].width}}"
                             height="{{site.data.imgdata['projects/steve/thumb_card.jpg'].height}}"/>
                        <div class="card-footer block-content">
                            <div class="card-title">
                                <h2>Projects</h2>
                            </div>
                            <div class="card-desc">
                                <p>Definition: things that took a lot of time.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeIn m-b-md padding-bottom" data-wow-delay="100ms">
                <a href="talks">
                    <div class="card">
                        <img src="data:image/gif;base64, {{site.data.imgdata['outreach/famelab/thumb_card.jpg'].data}}"
                             class="img-card img"
                             data-src="static/img/outreach/famelab/thumb_card.jpg"
                             width="{{site.data.imgdata['outreach/famelab/thumb_card.jpg'].width}}"
                             height="{{site.data.imgdata['outreach/famelab/thumb_card.jpg'].height}}"/>
                        <div class="card-footer block-content">
                            <div class="card-title">
                                <h2>Talks</h2>
                            </div>
                            <div class="card-desc">
                                <p>Academic presentations to public talks in a pub!</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeIn m-b-md padding-bottom" data-wow-delay="200ms">
                <a href="papers">
                    <div class="card">
                        <img src="data:image/gif;base64, {{site.data.imgdata['projects/globular/thumb_card.jpg'].data}}"
                             class="img-card img"
                             data-src="static/img/projects/globular/thumb_card.jpg"
                             width="{{site.data.imgdata['projects/globular/thumb_card.jpg'].width}}"
                             height="{{site.data.imgdata['projects/globular/thumb_card.jpg'].height}}"/>
                        <div class="card-footer block-content">
                            <div class="card-title">
                                <h2>Papers</h2>
                            </div>
                            <div class="card-desc">
                                <p>Prior works of mine and my collaborators.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeIn m-b-md padding-bottom" data-wow-delay="300ms">
                <a href="podcast">
                    <div class="card">
                        <img src="static/img/landing/podcast.jpg"
                             class="img-card img"
                             width="225"
                             height="175"/>
                        <div class="card-footer block-content">
                            <div class="card-title">
                                <h2>Podcast</h2>
                            </div>
                            <div class="card-desc">
                                <p>Check out my podcast, Commuting the Cosmos!</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeIn m-b-md padding-bottom" data-wow-delay="300ms">
                <a href="https://www.udemy.com/python-for-statistical-analysis/?couponCode=COSMICCODING">
                    <div class="card">
                        <img src="static/img/landing/course.jpg"
                             class="img-card img"
                             width="225"
                             height="175"/>
                        <div class="card-footer block-content">
                            <div class="card-title">
                                <h2>Statistics Course</h2>
                            </div>
                            <div class="card-desc">
                                <p>Learn applied statistics in python!</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-lg-3 wow fadeIn m-b-md padding-bottom" data-wow-delay="300ms">
                <a href="blog">
                    <div class="card">
                        <img src="static/img/blog/planets/thumb_card.jpg"
                             class="img-card img"
                             width="225"
                             height="175"/>
                        <div class="card-footer block-content">
                            <div class="card-title">
                                <h2>Blog</h2>
                            </div>
                            <div class="card-desc">
                                <p>A random collection of science, art, travel and hobbies.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
