<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span>My Posts</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="smaller">
        {% for post in site.categories['blog'] %}
        {% assign loopindex = forloop.index  | modulo: 2 %}
        {% assign key = post.loc | append: "thumb_blog.jpg" %}
            <div class="post col-sm-6 wow fadeIn">
                <a href="{{post.url}}" class="{% if loopindex == 1 %} pull-right {% else %} pull-left {% endif %} ">
                    <img src="data:image/gif;base64, {{site.data.imgdata[key].data}}" data-src="{{site.img_path}}{{post.loc}}thumb_blog.jpg" class="img img-responsive img-thumbnail img-small" width="{{site.data.imgdata[key].width}}" height="{{site.data.imgdata[key].height}}"/>
                </a>
                <div class="block-content {% if loopindex == 1 %} lleft {% else %} rright {% endif %}">
                    <a href="{{post.url}}"><h4>{{post.title}}</h4></a>
                    <p>{{post.desc}}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
