<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span>My Posts</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="smaller">
        {% for post in site.categories['blog'] %}
        {% assign loopindex = forloop.index  | modulo: 2 %}
            <div class="post col-sm-6 wow fadeIn">
                <a href="{{post.url}}" class="{% if loopindex == 1 %} pull-right {% else %} pull-left {% endif %} "><img class="img-responsive img-thumbnail img-small" src="{{ post.thumb }}"></a>
                <div class="block-content {% if loopindex == 1 %} lleft {% else %} rright {% endif %}">
                    <a href="{{post.url}}"><h4>{{post.title}}</h4></a>
                    <p>{{post.desc}}</p>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
