<div class="content content-shrink">

    <!-- Items -->
    <div class="grid gap-20 latest" data-aos-id-latest data-aos="fade-up">
        <!-- Item -->
        <div class="md:grid md:grid-cols-12 md:gap-6 items-center standout">
            <!-- Image -->
            <div class="max-w-xl md:max-w-none md:w-full mx-auto md:col-span-5 mb-8 md:mb-0 md:order-1" data-aos="fade-up" data-aos-anchor="[data-aos-id-latest]">
                <div class="relative">
                    <img class="md:max-w-none fit" src="{{site.data.status.image}}" width="540" height="520" alt="" />
                </div>
            </div>
            <!-- Content -->
            <div class="max-w-xl md:max-w-none md:w-full mx-auto md:col-span-7" data-aos="fade-up" data-aos-anchor="[data-aos-id-latest]">
                <div class="lg:pr-4 xl:pr-8">
                    <div class="font-architects-daughter text-2xl text-main-400 mb-2">Status Update</div>
                    <h3 class="h3 mb-3">{{site.data.status.title}}</h3>
                    <p class="text-xl text-gray-400 mb-4">{{site.data.status.desc}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
