<div class="container smaller" id="i18_career">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span>My Projects</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-12">
            <div class="vertical-container center-orientation">
            {% for project in site.categories['project'] %}
            {% assign loopindex = forloop.index %}
                <div class="portfolio-block horizontal-bar-top  wow fadeIn" >
                    <div class="portfolio-content">
                        <div class="thumbimg">
                            <a href="{{project.url}}"><img class="img-responsive img-project" src="{{site.img_path}}{{ project.loc }}thumb_project.jpg"></a>
                        </div>
                        <div class="portfolio-text">
                            <h2><a href="{{project.url}}">{{ project.title }}</a></h2>
                            <p><span>{{ project.desc }} </span></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
