<div class="container smaller" id="i18_career">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span>My Projects</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="col-lg-12">
            <div class="vertical-container center-orientation">
            {% for project in site.categories['project'] %}
            {% assign loopindex = forloop.index %}
            {% assign key = project.loc | append: "thumb_project.jpg" %}
                <div class="portfolio-block horizontal-bar-top  wow fadeIn" >
                    <div class="portfolio-content">
                        <div class="thumbimg">
                            <a href="{{project.url}}">
                                <img src="data:image/gif;base64, {{site.data.imgdata[key].data}}" data-src="{{site.img_path}}{{project.loc}}thumb_project.jpg" class="img img-responsive img-project" width="{{site.data.imgdata[key].width}}" height="{{site.data.imgdata[key].height}}"/>
                            </a>
                        </div>
                        <div class="portfolio-text">
                            <h2><a href="{{project.url}}">{{ project.title }}</a></h2>
                            <p><span>{{ project.desc }} </span></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
