<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span>My Trips</span></h1>
        </div>
    </div>
    <div class="row features-block">
        {% for trip in site.categories['trip'] %}
        {% assign loopindex = forloop.index  | modulo: 3 %}
        {% assign delay = 0.1 * loopindex %}
            <div class="trip col-sm-4 wow fadeIn" data-wow-delay="{{ delay }}s">
                <a href="{{trip.url}}"><img class="img-responsive img-circle img-small" src="{{ trip.thumb }}"></a>
                <a href="{{trip.url}}"><h2>{{trip.name}}</h2></a>
                <p>{{trip.desc}}</p>
            </div>

        {% endfor %}
    </div>
</div>
