<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span>My Trips</span></h1>
        </div>
    </div>
    <div class="row features-block">
        {% for trip in site.categories['trip'] %}
        {% assign loopindex = forloop.index  | modulo: 3 %}
        {% assign key = trip.loc | append: "thumb_blog.jpg" %}
        <div class="trip col-sm-4 team-member wow fadeIn">
                <a href="{{trip.url}}">
                    <!--<img class="img-responsive img-circle img-small" src="{{site.img_path}}{{ trip.loc }}thumb_blog.jpg">-->
                    <img src="data:image/gif;base64, {{site.data.imgdata[key].data}}" data-layzr="{{site.img_path}}{{trip.loc}}thumb_blog.jpg" class="img img-responsive img-circle img-small" width="{{site.data.imgdata[key].width}}" height="{{site.data.imgdata[key].height}}"/>
                </a>
                <a href="{{trip.url}}"><h4>{{trip.title}}</h4></a>
                <p>{{trip.desc}}</p>
            </div>

        {% endfor %}
    </div>
</div>
