{{ define "main" }}

<script type="module">
    import { reactive, html, watch } from 'https://esm.sh/@arrow-js/core';
    {{ $filter := images.GaussianBlur 40 }}
    const posts = [
        {{- range ( where .Site.RegularPages.ByWeight "Type" .Type ) -}}
        {{- $images := .Resources.ByType "image" -}}
        {{- $img := $images.GetMatch "{*cover*,*thumbnail*}" -}}
        {{- $imgSmall := $img.Resize "500x800 Center webp q70 #000000" -}}
        {{- $thumbnail := (($imgSmall | images.Filter $filter).Resize "30x webp q50").Content | base64Encode -}}
        {
          name: {{- .Params.name -}},
          link: {{- .RelPermalink -}},
          abslink: {{- absURL .RelPermalink -}},
          author: {{- .Params.auth -}},
          search_term: {{- .Params.auth -}} + " " + {{- .Params.name -}} + " " + {{- .Params.search_terms -}},
          review: {{- .Params.review -}},
          weight: {{- .Weight -}},
          date: {{- .Date -}},
          tags: [
          {{- range $tag := .Params.tags | sort -}}
            "{{ $tag | lower }}",
          {{- end -}}],
          links: [
            {{- range $n, $l := .Params.links -}}
            {
              name: {{- $n -}},
              link: {{- $l -}},
            },
            {{- end -}}
          ],
          title: {{ .Params.name }},
          sentence: {{ .Params.sentence }},
          description: {{ .Params.description }},

          img: {{-  $imgSmall.RelPermalink -}},
          thumbnail: {{- $thumbnail -}},
          {{ if isSet .Params "video" }}
          video: {{- ( .Resources.Get .Params.video ).RelPermalink -}},
          {{- end -}}
      },
      {{- end -}}
    ]

    // Add tages based on the link keys
    var extra_tag_map = {
      "amazon": "amazon",
      "audible": "audio",
    }
    posts.forEach(function(post) {
      post.links.forEach(function(link) {
        if (link.name in extra_tag_map) {
          post.tags.push(extra_tag_map[link.name]);
        }
        // if there isn't an in-progress tag, add a finished tag
        if (!post.tags.includes("in-progress") && !post.tags.includes("finished")) {
          post.tags.push("finished");
        }
      })
    });

    // Calc all tags
    let tags = [];
    posts.forEach(function(post) {
      post.tags.forEach(function (tag) {
        if (!tags.includes(tag)) {
          tags.push(tag);
        }
      })
    });
    tags = tags.sort();
    const default_layout = screen.width > 1280 ? "wide" : "cover"
    const data = reactive({
      tag_activations: {},
      layout: default_layout,
      by_rank: true,
      posts: posts,
      tags: tags,
      search_term: "",
      redner_refresh: 0,
    });

    function copy_to_clipboard(text) {
      navigator.clipboard.writeText(text).then(function() {
      }, function(err) {
        console.error('Async: Could not copy text: ', err);
      });
    }

    window.onkeypress = function(event) {
      if (event.key == "c" || event.key == "C" || event.key == "x" || event.key == "X") {
        let content = ""
        if (event.key == "c") {
          content = make_summary(short_summarise_post)
        } else if (event.key == "C") {
          content = make_summary(summarise_post)
        } else if (event.key == "x") {
          content = make_summary(super_short_summarise_post)
        } else {
          content = make_summary(super_duper_short_summarise_post)
        }
        copy_to_clipboard(content)
      }
    }

    function summarise_post(post) {
      let sb = "### **" + post.name + "** ｜  by *" + post.author +"*\n\n**Links:** [review](" + post.abslink + "), "
      for (var link of post.links) {
        sb += "[" + link.name + "](" + link.link + "), "
      }
      sb = sb.slice(0,-2) + "\n\n"
      sb += "**Summary:** " + post.description + "\n\n"
      sb += "**Hook:** " + post.sentence + "\n\n*********\n"
      return sb
    }

    function short_summarise_post(post) {
      let sb = "* **" + post.name + "**: "
      sb += "([review](" + post.abslink + "), "
      for (var link of post.links) {
        sb += "[" + link.name + "](" + link.link + "), "
      }
      sb = sb.slice(0,-2) + "): " + post.description + "\n"
      return sb
    }

    function super_short_summarise_post(post) {
      let sb = "* **" + post.name + "**: "
      sb += "[review](" + post.abslink + "), "
      for (var link of post.links) {
        sb += "[" + link.name + "](" + link.link + "), "
      }
      sb = sb.slice(0,-2) + "\n"
      return sb
    }

    function super_duper_short_summarise_post(post) {
      return "* [**" + post.name + "**](" + post.abslink + ") by " + post.author + "\n"
    }

    function make_summary(callable) {
      var filtered_posts = get_posts_to_render()
      let sb = ""
      for (var i = 0; i < filtered_posts.length; i++) {
        sb += callable(filtered_posts[i])
      }
      return sb
    }

    function reset() {
      for (const [key, value] of Object.entries(data.tag_activations)) {
        data.tag_activations[key] = undefined
        delete data.tag_activations[key];
      }
      data.search_term = ""
      document.getElementById("search-input").value = ""

      data.layout = default_layout
      data.by_rank = true
      update_url()
    }
    function set_from_url() {
      var params = new URLSearchParams(window.location.search)
      if (params.has("o")) {
        data.by_rank = params.get("o") === "1"
      }
      if (params.has("l")) {
        data.layout = params.get("l")
      }
      if (params.has("include")) {
        params.get("include").split("_").forEach(function (t) {
          data.tag_activations[t] = true;
        })
      }
      if (params.has("exclude")) {
        params.get("exclude").split("_").forEach(function (t) {
          data.tag_activations[t] = false;
        })
      }
    }
    set_from_url()

    function update_url() {
      var params = new URLSearchParams();
      if (!data.by_rank) {
        params.set("o", 0)
      }
      if (data.layout != default_layout) {
        params.set("l", data.layout)
      }
      let include = []
      let exclude = []
      for (const [key, value] of Object.entries(data.tag_activations)) {
        if (value) {
          include.push(key)
        } else {
          exclude.push(key)
        }
      }
      if (include.length > 0) {
        params.set("include", include.join("_"))
      }
      if (exclude.length > 0) {
        params.set("exclude", exclude.join("_"))
      }
      var args = params.toString()
      if (args.length > 0) {
        args = "?" + args
      }
      var newUrl = window.location.origin + window.location.pathname + args
      window.history.pushState({path: newUrl}, "", newUrl)
      setTimeout(() => window.dispatchEvent(new Event("popstate")), 50);
    }
    watch(update_url);

    const click_tag = (tag) => {
      if (tag in data.tag_activations) {
        if (data.tag_activations[tag]) {
          data.tag_activations[tag] = false;
        } else {
          data.tag_activations[tag] = undefined;
          delete data.tag_activations[tag];
        }
      } else {
        data.tag_activations[tag] = true;
      }
    }

    const tag_container = document.getElementById("tags");
    const tag_template = html`${() => data.tags.map(
      tag => html`
  <button @click="${() => click_tag(tag)}" class="${() => "tag tag-" + tag + " active-" + (Object.keys(data.tag_activations).length == 0 ? "nan" : data.tag_activations[tag])}">
    <span>${tag}</span>
  </button>
      `)}`
    tag_template(tag_container)

    const layout_container = document.getElementById("toggle-input");
    const layout_template = html`
  <div class="justify-center flex flex-wrap items-center">
    <label for="layout_wide" class="inline-flex items-center py-2 rounded-md cursor-pointer text-gray-100">
        <input id="layout_wide" checked="${() => (data.layout == "wide" ? "checked" : "")}" name="layout" type="radio" value="wide" class="hidden peer" @click="${(e) => { data.layout = "wide" } }">
        <span class="px-4 py-2 rounded-l-md bg-gray-700 peer-checked:bg-main-700">Wide</span>
    </label>
    <label for="layout_cover" class="inline-flex items-center py-2 rounded-md cursor-pointer text-gray-100">
      <input id="layout_cover" checked="${() => (data.layout == "cover" ? "checked" : "")}" name="layout" type="radio" value="cover" class="hidden peer" @click="${(e) => { data.layout = "cover" } }">
      <span class="px-4 py-2  bg-gray-700 peer-checked:bg-main-700">Cover</span>
    </label>
    <label for="layout_tier" class="inline-flex items-center py-2 rounded-md cursor-pointer text-gray-100">
      <input id="layout_tier" checked="${() => (data.layout == "tier" ? "checked" : "")}" name="layout" type="radio" value="tier" class="hidden peer" @click="${(e) => { data.layout = "tier" } }">
      <span class="px-4 py-2 rounded-r-md bg-gray-700 peer-checked:bg-main-700">Tier List</span>
    </label>
    <label for="sort-order" class="pl-4 inline-flex items-center p-2 rounded-md cursor-pointer text-gray-100">
      <input id="sort-order" type="checkbox" checked="${() => (data.by_rank ? "checked" : "")}" class="hidden peer" @click="${(e) => {data.by_rank = e.target.checked} }">
      <span class="px-4 py-2 rounded-l-md bg-gray-700 peer-checked:bg-main-700">Rank</span>
      <span class="px-4 py-2 rounded-r-md bg-main-700 peer-checked:bg-gray-700">Recent</span>
    </label>
    <input
      @input="${e => { data.search_term = e.target.value }}"
      type="text"
      id="search-input"
      name="search"
      class="bg-gray-800 rounded-md text-gray-100 m-2"
      placeholder="Search..."
    />
    <button class="inline-flex items-center m-2 px-4 py-2 bg-gray-700 hover:bg-main-700 rounded-md cursor-pointer text-gray-100" @click="${() => reset()}">Reset</button>

  </div>
  `
    layout_template(layout_container);

    const search_container = document.getElementById("search");


    const video_template = (post) => html`
  <video class="${() => "block h-full w-full flex-none bg-cover mx-auto sm:ml-0 " + (data.layout == "wide"  ? "md:rounded-l-xl" : "")}" preload="auto" playsinline plays-inline autoplay loop muted >
    <source src="${post.video}" type="video/mp4" />
  </video>`
    const image_template = (post) => html`
  <picture>
    <source srcset="${post.img} 500w" type="image/webp" />
    <img loading="lazy" class="${() => "block flex-none bg-cover mx-auto " + (data.layout == "wide" ? "md:rounded-l-xl" : "")}" src="data:image/webp;base64,${post.thumbnail}" width="250" height="400" alt="${post.name}" />
  </picture>`


    const post_template = (post) => html`
  <div class="fancy_card horizontal mx-auto">
    <div class="card_translator">
      <a class="card_rotator small_rot card_layer block" href="${post.link}" style="${() => (data.layout == "tier" ? "padding: 0px; border-radius: 0px;" : "")}">
        <div class="card_layer">
          <article class="review-summary review-${post.review}">
            <div class="bg2" style="${() => (data.layout == "tier" ? "padding: 0px; border-radius: 0px;" : "")}">
              <div class="bg-inner flex flex-col md:flex-row w-full bg-gray-800" style="${() => (data.layout == "tier" ? "border-radius: 0px;" : "")}">
                <figure class="${() => "block flex-none bg-cover " + (data.layout == "wide" ? "" : "w-full")}">
                  ${() => {
                    if ("video" in post) {
                      return video_template(post)
                    } else {
                      return image_template(post)
                    }
                  }}

                </figure>
                <div class="flex flex-col justify-between p-4 text-center side-card-content">
                  <div class="rating">
                    <p class="small rating-${post.review}">
                      <span class="leader">${post.name}</span>
                    </p>
                  </div>
                  <p class="text-lg text-gray-400 px-3">${post.sentence}</p>
                  <div class="">
                    <div class="mb-3">
                      <ul class="flex flex-wrap text-xs font-medium -m-1 justify-center">
                        ${post.tags.map(tag => html`<li class="m-1 inline-flex text-center py-1 px-3 rounded-full tag-${tag}">${tag}</li>`)}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="card_layer card_effect card_overlay_${post.review}"></div>
        <div class="card_layer card_effect card_glare"></div>
      </a>
    </div>
  </div>
  `
    const group_post_template = (group) => html`${() => {
          var descriptions = {
          "π": "I wrote this so I love it",
          "S": "Love to pieces",
          "A": "Amazing, I follow chapter updates",
          "B": "Very nice, I read when new books drop",
          "C": "Good read but lower in TBR",
          "D": "Didn't grip me",
          "F": "Dropped these",
        }
        if (data.layout == "tier") {
          return html`<div class="tier-list"><h1 class="text-center text-7xl mt-20 pb-8 rating-${group.tier}">${group.tier}: ${descriptions[group.tier]}</h1></div>`
        }
      }}
      <div class="${() => "container mx-auto justify-center grid " + (data.layout == "tier" ? "gap-2 mt-8 " : "mt-20 gap-4 sm:gap-12 " ) + (data.layout == "wide" ? "sm:grid-cols-wide-cards grid-cols-wide-cards-mobile" : ( data.layout == "cover" ? "grid-cols-cover-cards-mobile sm:grid-cols-cover-cards " : "grid-cols-cover-cards-mobile sm:grid-cols-cover-cards-tier tier"))}">
        ${() => {
          return group.posts.map(post_template)
        }}
      </div>
    `


    const card_containter = document.getElementById("all-card-wrapper");

    function get_posts_to_render() {
      return data.posts.filter(function(post) {
      // Filter by selected tags
      for (const [key, value] of Object.entries(data.tag_activations)) {
        if (value) {
          if (!post.tags.includes(key)) {
            return false;
          }
        } else {
          if (post.tags.includes(key)) {
            return false;
          }
        }
      }
      // Filter by search term
      if (data.search_term) {
        var post_search = post.search_term.toLowerCase();
        var term = data.search_term.toLowerCase();
        // split this into words and then check to see if every word is in the search term
        // if not, return false
        var words = term.split(" ");
        for (var i = 0; i < words.length; i++) {
          if (!post_search.includes(words[i])) {
            return false;
          }
        }
      }
      return true;
    }).sort((a, b) => {
      if (data.layout == "tier" || data.by_rank) {
        return a.weight > b.weight ? 1 : -1;
      } else {
        return a.date < b.date ? 1 : -1;
      }
    })

    }

    const card_template = html`
      ${ function() {
      var posts_to_render = get_posts_to_render()

    let prior_tier = null;
    let groups = []
    let posts_in_group = []
    for (var i = 0; i < posts_to_render.length; i++) {
      if (data.layout == "tier" && (prior_tier == null || prior_tier != posts_to_render[i].review)) {
        if (prior_tier != null) {
          groups.push({
            "posts": posts_in_group,
            "tier": prior_tier,
          });
        }

        prior_tier = posts_to_render[i].review;
        posts_in_group = [];
      }
      posts_in_group.push(posts_to_render[i]);
    }
    groups.push({
    "posts": posts_in_group,
    "tier": prior_tier,
  });
    return groups.map(group_post_template)
    }

  }
  </div>`

    card_template(card_containter);
</script>

<div class="content content-full">
  <div class="section-header mt-12 pb-2">
    <h1>Book Reviews!</h1>
    <p>
      As normal, these are <em>my</em> rankings based on what I personally enjoy
      reading. You may have opposite tastes. The below inputs should make
      finding something easier. If you have questions, recommendations, or want
      to know when new reviews or releases are out, join the
      <a
        href="{{ site.Params.discord }}"
        class="font-bold"
        style="color: #7289da"
        >{{ partial "ico" "discord" }} discord</a
      >. And if you want a flowchart to help decide your next read, I made one
      of those too!
    </p>
    <a
      target="_blank"
      href="https://www.figma.com/file/hScNoWonDzTMTrpzUhNqzR/Story-Finder?type=whiteboard&node-id=1-229&t=lq4Gt1g09jzDSmbS-4"
    >
      <button
        class="inline-flex mt-4 px-4 py-2 bg-gray-700 hover:bg-main-700 rounded-md cursor-pointer text-gray-100"
      >
        Give me a flowchart!
      </button></a
    >
  </div>
  <!-- The toggles config -->
  <div id="toggle-input" class="max-w-7xl mx-auto"></div>
  <div id="search" class="max-w-7xl mx-auto mt-6"></div>
  <div id="tags" class="tag-list max-w-7xl mx-auto mt-6 mb-12"></div>
  <div id="all-card-wrapper"></div>
</div>

{{ end }}
