<div class="content content-standard" id="courses">

    <div class="section-header">
        <h1 data-aos="fade-up">Courses</h1>
        <p data-aos="fade-up">I've partnered with SuperDataScience to produce several high quality Python courses in the area of statistics and data manipulation.</p>
    </div>

    {{ range $index, $course := site.Data.courses }}
    <div class="relative flex flex-col {{ if eq  $index 0 }}mt-1 {{ else }} mt-16{{ end }}" data-aos="fade-up">
        <div class="w-full">
            <article class="relative max-w-md mx-auto md:max-w-none">
                <figure class="md:absolute md:inset-y-0 md:left-0 md:w-1/2">
                    {{ with resources.Get $course.img }}
                    <picture>
                        {{ with .Fill "516x400 Center webp q80 #000000" }}
                            <source srcset="{{ .RelPermalink }}" type="image/webp">
                        {{ end }}
                        {{ with .Fill "516x400 Center q70 #000000" }}
                            <source srcset="{{ .RelPermalink }}" type="image/png">
                        {{ end }}
                        <img width="516" height="400" class="w-full h-full object-cover" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mPMn7vLFAAFRgH97g1QygAAAABJRU5ErkJggg==" alt="{{ .Params.short_title }}">
                    </picture>
                    {{ end }}
                </figure>

                <div class="relative bg-gray-800 py-8 md:py-16 px-6 md:px-16 md:max-w-lg lg:max-w-xl md:ml-auto">
                    <h4 class="h4 mb-2">{{$course.name}}</h4>
                    <p class="text-lg text-gray-400">{{$course.desc}}</p>
                    <a class="btn-sm text-white bg-main-600 hover:bg-main-700 mt-6" href="{{$course.link}}">
                        <span>Learn more</span>
                        <svg class="w-3 h-3 fill-current text-main-400 flex-shrink-0 ml-2" viewBox="0 0 12 12"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M6 5H0v2h6v4l6-5-6-5z" />
                        </svg>
                    </a>
                </div>
            </article>
        </div>
    </div>
    {{ end }}


    </div>

</div>