<div class="content content-wide">

    <div class="section-header">
        <h1>Find a book!</h1>
        <p>Zoom out and use this navigator to find a story that suits your taste. <a class="under orange-under" href="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FhScNoWonDzTMTrpzUhNqzR%2FStory-Finder%3Ftype%3Dwhiteboard%26node-id%3D1%253A229%26t%3DOOFUlxwxdNnnQlxY-1">Direct link.</a></p>
    </div>

    <div class="max-w-sm mx-auto md:max-w-none">
        <iframe class="mx-auto w-full" style="border: 1px solid rgba(0, 0, 0, 0.1);" width="1200" height="650" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FhScNoWonDzTMTrpzUhNqzR%2FStory-Finder%3Ftype%3Dwhiteboard%26node-id%3D113%253A384%26t%3Dlq4Gt1g09jzDSmbS-1" allowfullscreen></iframe>
    </div>
</div>
</div> 