<div class="content content-wide">

    <div class="section-header">
        <h1 data-aos="fade-up">Latest Tutorials</h1>
        <p data-aos="fade-up">Visualisation, machine learning, modelling, statistics and other code tutorial and math
            tutorials from over the years. <a class="under orange-under" href="/tutorials">Many more are available here!</a></p>
    </div>

    <div class="max-w-sm mx-auto md:max-w-none mt-8">
        <div class="grid gap-12 grid-cols-vertical-cards items-start">

        {{ range site.Taxonomies.categories.tutorial.Pages.ByDate.Reverse | first 3 }}
            {{- partial "card.html" . -}} 
        {{ end }}
    </div>
</div>
</div>