
<div class="badge-leader">
<p><em>Connect to stay in the loop for tutorials and posts.</em></p>
</div>
<div class="badge">
    <div class="badge-inner grid grid-cols-1 md:grid-cols-5 md:gap-x-6 md:gap-y-8 items-center">
        <figure class="flex mx-auto md:block hidden flex-col col-span-1">
            <img src="/{{site.author.profile_img }}">
        </figure>
        <div class="title flex flex-col h-full col-span-3">
            <h3>Samuel Hinton</h3>
            <p>Astrophysicist & Data Scientist</p>
        </div>
        <div class="connect flex flex-col w-full col-span-1">
            <a href="https://au.linkedin.com/in/{{site.author.linkedin_username}}" target="_blank" class="no-under">Visit Profile!</a>
        </div>
    </div>
</div>
