<div class="card-badge card-border">
    <div class="buffer">
        <img class="img img-badge img-circle" src="/{{site.author.profile_img }}">
        <div class="card-footer block-content">
            <div class="card-title">
                <h3>Samuel Hinton</h3> <span class="text-muted">Astrophysicist | Data Scientist | Code Monkey</span>
            </div>
            <div class="card-desc">
                <p>For future updates, connect on LinkedIn!</p>
            </div>
            <div class="connect">
                <a href="https://au.linkedin.com/in/samuelreay" target="_blank">
                    <button class="btn btn-block btn-primary fancy-button" style="height: 100%;">
                        Visit Profile!
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="row padding-bottom m-b-md">
    <div class="col-sm-12">
        <p>Or if you want far, far more information, here are the courses I've made:</p>
    </div>
    {% for pair in site.data.courses %}
    {% assign course = pair[1] %}
    <div class="col-sm-12 m-b-md padding-bottom">
        <a href="{{course.url}}">
            <div class="card card-horizontal-small">
                <img class="img img-card img-small" src="/{{course.img}}">
                <div class="card-footer block-content">
                    <div class="card-title">
                        <h4>{{course.name}}</h4>
                    </div>
                    <div class="card-desc">
                        <p>{{ course.desc | strip_html }}</p>
                    </div>
                </div>
            </div>
        </a>
    </div>

    {% endfor %}

</div>