<div class="card-badge card-border">
    <div class="buffer">
        <img class="img img-badge img-circle" src="/{{site.author.profile_img }}">
        <div class="card-footer block-content">
            <div class="card-title">
                <h3>Samuel Hinton</h3> <span class="text-muted">Astrophysicist | Data Scientist | Code Monkey</span>
            </div>
            <div class="card-desc">
                <p>For future updates, connect on LinkedIn!</p>
            </div>
            <div class="connect">
                <a href="https://au.linkedin.com/in/samuelreay" target="_blank">
                    <button class="btn btn-block btn-primary fancy-button" style="height: 100%;">
                        Visit Profile!
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>