
{% assign posts = site.categories[cat] %}
{% assign categories = posts | map: 'tags' | uniq | sort %}
<div class="content content-full" x-data="{ {% for cat in categories %} {{cat}}: true, {% endfor %} }">

    <!-- Headers go here -->

    <div class="section-header mt-12">
        <h1 data-aos="fade-up">{{cat | capitalize}} Posts</h1>
        <p data-aos="fade-up">{{desc}}</p><p data-aos="fade-up">Use the buttons below to filter down.</p>
    </div>

    <!-- Add the tags -->
    <div class="tag-list" data-aos="fade-up" data-aos-anchor="[data-aos-id-tabs]" >
        {% for cat in categories %}
        <button class="tag-{{cat}}" @click="{{cat}} = !{{cat}}" :class="{ 'opacity-30': {{cat}} == false }">
            <span>{{cat}}</span>
        </button>
        {% endfor %}

    </div>

    <!-- And now the blog posts of course -->

    <div class="max-w-sm mx-auto md:max-w-none mb-12" data-aos="fade-up">
        <div class="grid gap-12 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 md:gap-x-6 md:gap-y-8 items-start">

            {% for post in posts %}
            {% assign key = post.loc | append: "thumb_blog.jpg" %}
            {% include card.html %}
            {% endfor %}

        </div>
    </div>
</div>