{% assign tagList = post.tags | join: "','" | append: "','" | append: post.review | append: "']" | prepend: "['" %} {% assign sortedTags = post.tags | sort %}
<div class="fancy_card horizontal" :class="{ 'hidden': is_hidden({{tagList}}) }">
  <div class="card_translator">
    <a class="card_rotator small_rot card_layer block" href="{{post.url}}">
      <div class="card_layer">
        <article class="review-summary review-{{post.review}}">
          <div class="bg2">
            <div class="bg-inner flex flex-col md:flex-row w-full bg-gray-800">
              <figure class="rounded-l-xl block flex-none bg-cover">
                {% if post.video %}
                <video class="rounded-l-xl block flex-none bg-cover" preload="auto" playsinline plays-inline autoplay loop muted width="235" height="375" >
                  <source src="{{site.img_path}}{{post.loc}}original/main.mp4" type="video/mp4" />
                </video>
                {% else %}
                <img src="{{site.img_path}}{{post.loc}}thumb_cover.jpg" width="250" height="375" class="rounded-l-xl block flex-none bg-cover mx-auto"  />
                {% endif %}
              </figure>
              <div class="flex flex-col justify-between p-4 text-center">
                <div class="rating">
                  <p class="small rating-{{post.review}}">
                    <span class="leader">{{post.name}}</span>
                  </p>
                </div>
                <p class="text-lg text-gray-400 px-3">{{post.sentence}}</p>
                <div class="">
                  <div class="mb-3">
                    <ul class="flex flex-wrap text-xs font-medium -m-1 justify-center">
                      {% for tag in sortedTags %}
                      <li class="m-1 inline-flex text-center py-1 px-3 rounded-full tag-{{tag}}">
                        {{tag}}
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="card_layer card_effect card_overlay_{{post.review}}"></div>
      <div class="card_layer card_effect card_glare"></div>
    </a>
  </div>
</div>