<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.desc %}
  <meta content="{{ page.desc }}" name="description">
  {% endif %}
  {% if page.keywords %}
  <meta name="keywords" content="{{ page.keywords }}">
  {% endif %}
  <meta name="author" content="{{ site.author.name }}">
  {% if page.loc %}
  <meta property="og:image" content="{{site.img_path}}{{page.loc}}thumb_fb.jpg">
  {% endif %}

  <title>
    {% if page.title != "index" %}
    {{ page.title }}
    {% else %}
    {{ site.title }}
    {% endif %}
  </title>
  <!-- favicon -->
  <link rel="shortcut icon" href="{{ '/static/img/favicon.ico' | prepend: site.baseurl }}">
  <link href="{{ '/static/css/style.css'| prepend: site.baseurl }}" rel="stylesheet">
  <script src="{{ '/bower_components/jquery/dist/jquery.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/bower_components/bootstrap/dist/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
  <script src="{{ '/bower_components/PACE/pace.min.js' | prepend: site.baseurl }}"></script>

</head>
