<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ "static/styles/index.css" | relative_url }}">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Inter:wght@400;500;600;700;800;900&display=fallback">

<link rel="shortcut icon" type="image/png" href={{ "/static/img/favicon.png" | relative_url }}>

{% if page.desc %}
<meta content="{{page.long_desc | default: page.desc}}" name="description">
{% endif %}
{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}">
{% endif %}
<meta name="author" content="{{ site.author.name }}">
{% if page.loc %}
<meta property="og:image" content="{{site.img_path}}{{page.loc}}thumb_fb.jpg">
<meta property="og:title" content="{{page.title}}">
<meta property="og:description" content="{{page.long_desc | default: page.desc}}">
<meta property="og:site" content="website">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{site.author.twitter_username}}">
<meta name="og:image:width" content="600">
<meta name="og:image:width" content="335">
{% endif %}


<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
<meta itemprop="description" name="description"
    content="{% if page.description %}{{ page.description | truncate: 160 }}{% else %}{{ site.description | truncate: 160  }}{% endif %}" />

{% seo %}