{% assign key = page.loc | append: include.url %}
{% if site.data.imgdata[key] %}
<img src="data:image/gif;base64, {{site.data.imgdata[key].data}}" data-layzr="{{site.img_path}}{{page.loc}}{{include.url}}" class="img center-block img-responsive img-blog {{include.class}}" width="{{site.data.imgdata[key].width}}" height="{{site.data.imgdata[key].height}}"/>
{% else %}
<img src="{{site.img_path}}{{page.loc}}{{include.url}}" class="img center-block img-responsive img-blog {{include.class}}"/>
{% endif %}
