<!-- Modal -->
<div id="myModal" class="contact modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Contact Form</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="commentform" method="post" action="https://formspree.io/samuelreay+site@gmail.com">
                    <div class="form-group">
                        <label class="control-label col-md-4" for="email">Email Address</label>
                        <div class="col-md-6 input-group">
                            <span class="input-group-addon">@</span>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="_subject">Subject</label>
                        <div class="col-md-6" style="padding:0;">
                            <input type="text" class="form-control" id="_subject" name="_subject" placeholder="Subject">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="message">Message</label>
                        <div class="col-md-6" style="padding:0;">
                            <textarea rows="6" class="form-control" id="message" name="message" placeholder="Your message here! I recommend details like your name, dreams, aspirations and how I can help out."></textarea>
                        </div>
                    </div>
                    <input type="hidden" name="_next" id="_next" value="//samreay.github.io" />
                    <div class="form-group">
                        <div class="col-md-10" style="padding-right: 0;">
                            <button type="submit" value="Submit" class="btn btn-primary pull-right" id="send_btn">Send</button>
                        </div>
                    </div>
                </form>
            </div><!-- End of Modal body -->
        </div><!-- End of Modal content -->
    </div><!-- End of Modal dialog -->
</div><!-- End of Modal -->
