{% assign posts = site.categories[cat] | sort: 'val' %}
{% assign categories = "π,S,A,B,C,D,F" | split: "," %}
{% assign allTags = posts | map: 'tags' | uniq | sort_natural %}
<div class="content content-full" x-data="register_tags([{% for cat in allTags %} '{{cat}}',{% endfor %}])">

    <!-- Headers go here -->

    <div class="section-header mt-12">
        <h1 data-aos="fade-up">Book Reviews!</h1>
        <p data-aos="fade-up">{{desc}}</p>
        <p data-aos="fade-up">As normal, these are <em>my</em> opinions for the sort of books I enjoy reading. You may love things that I don't. In fact, I hope you like everything listed below and help establish these genres into mainstream media! You can use the buttons below to filter on ratings. <strong>π</strong> means it's one of my books, as a heads up.</p>
    </div>

    <!-- Add the tags -->
    <div class="tag-list review" data-aos="fade-up" data-aos-anchor="[data-aos-id-tabs]">
        {% for cat in categories %}
        <div class="mx-4 my-4 review-{{cat}}"  @click="click_tag('{{cat}}');" :class="{ 'opacity-30': is_hidden_single('{{cat}}') }">
            <div class="bg1"><div class="bg-inner"><div class="bg-paint"></div></div></div>
            <div class="bg2"><div class="bg-inner"><div class="bg-paint"></div></div></div>
            <button class="tag-review tag-review-{{cat}}">
                <span>{{cat}}</span>
            </button>
        </div>
        {% endfor %}

    </div>

    <div class="tag-list max-w-4xl mx-auto" data-aos="fade-up" data-aos-anchor="[data-aos-id-tabs]">
        {% for tag in allTags %}
        <button class="tag-{{tag}}" @click="click_tag('{{tag}}');"
        :class="{ 'opacity-30': is_hidden_single('{{tag}}') }">
        <span>{{tag}}</span>
    </button>

        {% endfor %}

    </div>

    <!-- And now the blog posts of course -->

    <div class="mt-20 max-w-sm mx-auto md:max-w-full mb-12" data-aos="fade-up">
        <div
            class="grid gap-12 grid-cols-1 lg:grid-cols-2 4xl:grid-cols-3 7xl:grid-cols-4 md:gap-24 items-start">
            {% for post in posts %}
            {% assign key = post.loc | append: "thumb_cover.jpg" %}
            {% include card_cover_wide.html %}
            {% endfor %}

        </div>
    </div>
</div>

<script>
    // For alphine tag handling
    function register_tags(tags) {
        return {
            tags: tags,
            active: [],
            click_tag(tag) {
                // figure out if one tag is active
                if (this.active.includes(tag)) {
                    this.active = this.active.filter(function(item) {
                        return item !== tag;
                    });
                } else {
                    // check to see if this is a single length string, in which case we would remove the other single length ones
                    if (tag.length === 1) {
                        this.active = this.active.filter(function(item) {
                            return item.length > 1;
                        });
                    }

                    this.active.push(tag);
                }
                setTimeout(() => {
                    AOS.refresh();
                }, 20)
            },
            is_active(tag) {
                return this.active.length == 0 || this.active.includes(tag);
            },
            is_hidden_single(tag) {
                if (this.active.length == 0) {
                    return false;
                }
                return !this.active.includes(tag)
            },
            is_hidden(tags) {
                if (this.active.length == 0) {
                    return false;
                }
                for (var i = 0; i < this.active.length; i++) {
                    var t = this.active[i];
                    if (!tags.includes(t)) {
                        return true;
                    }
                }
                return false;
            }
        }
    }
</script>