@import url("http://fonts.googleapis.com/css?family=Open+Sans:200,200italic,300,400,600");
@import url("font-awesome.min.css");

/*
	Momentum by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Reset */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

/* Containers */

	.container {
		margin-left: auto;
		margin-right: auto;
	}

	.container.\31 25\25 {
		width: 100%;
		max-width: 1200px;
		min-width: 960px;
	}

	.container.\37 5\25 {
		width: 720px;
	}

	.container.\35 0\25 {
		width: 480px;
	}

	.container.\32 5\25 {
		width: 240px;
	}

	.container {
		width: 960px;
	}

	@media screen and (min-width: 737px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 1500px;
			min-width: 1200px;
		}

		.container.\37 5\25 {
			width: 900px;
		}

		.container.\35 0\25 {
			width: 600px;
		}

		.container.\32 5\25 {
			width: 300px;
		}

		.container {
			width: 1200px;
		}

	}

	@media screen and (min-width: 737px) and (max-width: 1200px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 1250px;
			min-width: 1000px;
		}

		.container.\37 5\25 {
			width: 750px;
		}

		.container.\35 0\25 {
			width: 500px;
		}

		.container.\32 5\25 {
			width: 250px;
		}

		.container {
			width: 1000px;
		}

	}

	@media screen and (max-width: 736px) {

		.container.\31 25\25 {
			width: 100%;
			max-width: 125%;
			min-width: 100%;
		}

		.container.\37 5\25 {
			width: 75%;
		}

		.container.\35 0\25 {
			width: 50%;
		}

		.container.\32 5\25 {
			width: 25%;
		}

		.container {
			width: 100% !important;
		}

	}

/* Grid */

	.row {
		border-bottom: solid 1px transparent;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row > * {
		float: left;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}

	.row:after, .row:before {
		content: '';
		display: block;
		clear: both;
		height: 0;
	}

	.row.uniform > * > :first-child {
		margin-top: 0;
	}

	.row.uniform > * > :last-child {
		margin-bottom: 0;
	}

	.row.\30 \25 > * {
		padding: 0 0 0 0px;
	}

	.row.\30 \25 {
		margin: 0 0 -1px 0px;
	}

	.row.uniform.\30 \25 > * {
		padding: 0px 0 0 0px;
	}

	.row.uniform.\30 \25 {
		margin: 0px 0 -1px 0px;
	}

	.row > * {
		padding: 0 0 0 40px;
	}

	.row {
		margin: 0 0 -1px -40px;
	}

	.row.uniform > * {
		padding: 40px 0 0 40px;
	}

	.row.uniform {
		margin: -40px 0 -1px -40px;
	}

	.row.\32 00\25 > * {
		padding: 0 0 0 80px;
	}

	.row.\32 00\25 {
		margin: 0 0 -1px -80px;
	}

	.row.uniform.\32 00\25 > * {
		padding: 80px 0 0 80px;
	}

	.row.uniform.\32 00\25 {
		margin: -80px 0 -1px -80px;
	}

	.row.\31 50\25 > * {
		padding: 0 0 0 60px;
	}

	.row.\31 50\25 {
		margin: 0 0 -1px -60px;
	}

	.row.uniform.\31 50\25 > * {
		padding: 60px 0 0 60px;
	}

	.row.uniform.\31 50\25 {
		margin: -60px 0 -1px -60px;
	}

	.row.\35 0\25 > * {
		padding: 0 0 0 20px;
	}

	.row.\35 0\25 {
		margin: 0 0 -1px -20px;
	}

	.row.uniform.\35 0\25 > * {
		padding: 20px 0 0 20px;
	}

	.row.uniform.\35 0\25 {
		margin: -20px 0 -1px -20px;
	}

	.row.\32 5\25 > * {
		padding: 0 0 0 10px;
	}

	.row.\32 5\25 {
		margin: 0 0 -1px -10px;
	}

	.row.uniform.\32 5\25 > * {
		padding: 10px 0 0 10px;
	}

	.row.uniform.\32 5\25 {
		margin: -10px 0 -1px -10px;
	}

	.\31 2u, .\31 2u\24 {
		width: 100%;
		clear: none;
		margin-left: 0;
	}

	.\31 1u, .\31 1u\24 {
		width: 91.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 0u, .\31 0u\24 {
		width: 83.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\39 u, .\39 u\24 {
		width: 75%;
		clear: none;
		margin-left: 0;
	}

	.\38 u, .\38 u\24 {
		width: 66.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\37 u, .\37 u\24 {
		width: 58.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\36 u, .\36 u\24 {
		width: 50%;
		clear: none;
		margin-left: 0;
	}

	.\35 u, .\35 u\24 {
		width: 41.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\34 u, .\34 u\24 {
		width: 33.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\33 u, .\33 u\24 {
		width: 25%;
		clear: none;
		margin-left: 0;
	}

	.\32 u, .\32 u\24 {
		width: 16.6666666667%;
		clear: none;
		margin-left: 0;
	}

	.\31 u, .\31 u\24 {
		width: 8.3333333333%;
		clear: none;
		margin-left: 0;
	}

	.\31 2u\24 + *,
	.\31 1u\24 + *,
	.\31 0u\24 + *,
	.\39 u\24 + *,
	.\38 u\24 + *,
	.\37 u\24 + *,
	.\36 u\24 + *,
	.\35 u\24 + *,
	.\34 u\24 + *,
	.\33 u\24 + *,
	.\32 u\24 + *,
	.\31 u\24 + * {
		clear: left;
	}

	.\-11u {
		margin-left: 91.66667%;
	}

	.\-10u {
		margin-left: 83.33333%;
	}

	.\-9u {
		margin-left: 75%;
	}

	.\-8u {
		margin-left: 66.66667%;
	}

	.\-7u {
		margin-left: 58.33333%;
	}

	.\-6u {
		margin-left: 50%;
	}

	.\-5u {
		margin-left: 41.66667%;
	}

	.\-4u {
		margin-left: 33.33333%;
	}

	.\-3u {
		margin-left: 25%;
	}

	.\-2u {
		margin-left: 16.66667%;
	}

	.\-1u {
		margin-left: 8.33333%;
	}

	@media screen and (min-width: 737px) {

		.row > * {
			padding: 25px 0 0 25px;
		}

		.row {
			margin: -25px 0 -1px -25px;
		}

		.row.uniform > * {
			padding: 25px 0 0 25px;
		}

		.row.uniform {
			margin: -25px 0 -1px -25px;
		}

		.row.\32 00\25 > * {
			padding: 50px 0 0 50px;
		}

		.row.\32 00\25 {
			margin: -50px 0 -1px -50px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 50px 0 0 50px;
		}

		.row.uniform.\32 00\25 {
			margin: -50px 0 -1px -50px;
		}

		.row.\31 50\25 > * {
			padding: 37.5px 0 0 37.5px;
		}

		.row.\31 50\25 {
			margin: -37.5px 0 -1px -37.5px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 37.5px 0 0 37.5px;
		}

		.row.uniform.\31 50\25 {
			margin: -37.5px 0 -1px -37.5px;
		}

		.row.\35 0\25 > * {
			padding: 12.5px 0 0 12.5px;
		}

		.row.\35 0\25 {
			margin: -12.5px 0 -1px -12.5px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 12.5px 0 0 12.5px;
		}

		.row.uniform.\35 0\25 {
			margin: -12.5px 0 -1px -12.5px;
		}

		.row.\32 5\25 > * {
			padding: 6.25px 0 0 6.25px;
		}

		.row.\32 5\25 {
			margin: -6.25px 0 -1px -6.25px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 6.25px 0 0 6.25px;
		}

		.row.uniform.\32 5\25 {
			margin: -6.25px 0 -1px -6.25px;
		}

		.\31 2u\28desktop\29, .\31 2u\24\28desktop\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28desktop\29, .\31 1u\24\28desktop\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28desktop\29, .\31 0u\24\28desktop\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28desktop\29, .\39 u\24\28desktop\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28desktop\29, .\38 u\24\28desktop\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28desktop\29, .\37 u\24\28desktop\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28desktop\29, .\36 u\24\28desktop\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28desktop\29, .\35 u\24\28desktop\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28desktop\29, .\34 u\24\28desktop\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28desktop\29, .\33 u\24\28desktop\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28desktop\29, .\32 u\24\28desktop\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28desktop\29, .\31 u\24\28desktop\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28desktop\29 + *,
		.\31 1u\24\28desktop\29 + *,
		.\31 0u\24\28desktop\29 + *,
		.\39 u\24\28desktop\29 + *,
		.\38 u\24\28desktop\29 + *,
		.\37 u\24\28desktop\29 + *,
		.\36 u\24\28desktop\29 + *,
		.\35 u\24\28desktop\29 + *,
		.\34 u\24\28desktop\29 + *,
		.\33 u\24\28desktop\29 + *,
		.\32 u\24\28desktop\29 + *,
		.\31 u\24\28desktop\29 + * {
			clear: left;
		}

		.\-11u\28desktop\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28desktop\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28desktop\29 {
			margin-left: 75%;
		}

		.\-8u\28desktop\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28desktop\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28desktop\29 {
			margin-left: 50%;
		}

		.\-5u\28desktop\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28desktop\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28desktop\29 {
			margin-left: 25%;
		}

		.\-2u\28desktop\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28desktop\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (min-width: 737px) and (max-width: 1200px) {

		.row > * {
			padding: 25px 0 0 25px;
		}

		.row {
			margin: -25px 0 -1px -25px;
		}

		.row.uniform > * {
			padding: 25px 0 0 25px;
		}

		.row.uniform {
			margin: -25px 0 -1px -25px;
		}

		.row.\32 00\25 > * {
			padding: 50px 0 0 50px;
		}

		.row.\32 00\25 {
			margin: -50px 0 -1px -50px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 50px 0 0 50px;
		}

		.row.uniform.\32 00\25 {
			margin: -50px 0 -1px -50px;
		}

		.row.\31 50\25 > * {
			padding: 37.5px 0 0 37.5px;
		}

		.row.\31 50\25 {
			margin: -37.5px 0 -1px -37.5px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 37.5px 0 0 37.5px;
		}

		.row.uniform.\31 50\25 {
			margin: -37.5px 0 -1px -37.5px;
		}

		.row.\35 0\25 > * {
			padding: 12.5px 0 0 12.5px;
		}

		.row.\35 0\25 {
			margin: -12.5px 0 -1px -12.5px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 12.5px 0 0 12.5px;
		}

		.row.uniform.\35 0\25 {
			margin: -12.5px 0 -1px -12.5px;
		}

		.row.\32 5\25 > * {
			padding: 6.25px 0 0 6.25px;
		}

		.row.\32 5\25 {
			margin: -6.25px 0 -1px -6.25px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 6.25px 0 0 6.25px;
		}

		.row.uniform.\32 5\25 {
			margin: -6.25px 0 -1px -6.25px;
		}

		.\31 2u\28tablet\29, .\31 2u\24\28tablet\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28tablet\29, .\31 1u\24\28tablet\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28tablet\29, .\31 0u\24\28tablet\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28tablet\29, .\39 u\24\28tablet\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28tablet\29, .\38 u\24\28tablet\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28tablet\29, .\37 u\24\28tablet\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28tablet\29, .\36 u\24\28tablet\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28tablet\29, .\35 u\24\28tablet\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28tablet\29, .\34 u\24\28tablet\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28tablet\29, .\33 u\24\28tablet\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28tablet\29, .\32 u\24\28tablet\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28tablet\29, .\31 u\24\28tablet\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28tablet\29 + *,
		.\31 1u\24\28tablet\29 + *,
		.\31 0u\24\28tablet\29 + *,
		.\39 u\24\28tablet\29 + *,
		.\38 u\24\28tablet\29 + *,
		.\37 u\24\28tablet\29 + *,
		.\36 u\24\28tablet\29 + *,
		.\35 u\24\28tablet\29 + *,
		.\34 u\24\28tablet\29 + *,
		.\33 u\24\28tablet\29 + *,
		.\32 u\24\28tablet\29 + *,
		.\31 u\24\28tablet\29 + * {
			clear: left;
		}

		.\-11u\28tablet\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28tablet\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28tablet\29 {
			margin-left: 75%;
		}

		.\-8u\28tablet\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28tablet\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28tablet\29 {
			margin-left: 50%;
		}

		.\-5u\28tablet\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28tablet\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28tablet\29 {
			margin-left: 25%;
		}

		.\-2u\28tablet\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28tablet\29 {
			margin-left: 8.33333%;
		}

	}

	@media screen and (max-width: 736px) {

		.row > * {
			padding: 15px 0 0 15px;
		}

		.row {
			margin: -15px 0 -1px -15px;
		}

		.row.uniform > * {
			padding: 15px 0 0 15px;
		}

		.row.uniform {
			margin: -15px 0 -1px -15px;
		}

		.row.\32 00\25 > * {
			padding: 30px 0 0 30px;
		}

		.row.\32 00\25 {
			margin: -30px 0 -1px -30px;
		}

		.row.uniform.\32 00\25 > * {
			padding: 30px 0 0 30px;
		}

		.row.uniform.\32 00\25 {
			margin: -30px 0 -1px -30px;
		}

		.row.\31 50\25 > * {
			padding: 22.5px 0 0 22.5px;
		}

		.row.\31 50\25 {
			margin: -22.5px 0 -1px -22.5px;
		}

		.row.uniform.\31 50\25 > * {
			padding: 22.5px 0 0 22.5px;
		}

		.row.uniform.\31 50\25 {
			margin: -22.5px 0 -1px -22.5px;
		}

		.row.\35 0\25 > * {
			padding: 7.5px 0 0 7.5px;
		}

		.row.\35 0\25 {
			margin: -7.5px 0 -1px -7.5px;
		}

		.row.uniform.\35 0\25 > * {
			padding: 7.5px 0 0 7.5px;
		}

		.row.uniform.\35 0\25 {
			margin: -7.5px 0 -1px -7.5px;
		}

		.row.\32 5\25 > * {
			padding: 3.75px 0 0 3.75px;
		}

		.row.\32 5\25 {
			margin: -3.75px 0 -1px -3.75px;
		}

		.row.uniform.\32 5\25 > * {
			padding: 3.75px 0 0 3.75px;
		}

		.row.uniform.\32 5\25 {
			margin: -3.75px 0 -1px -3.75px;
		}

		.\31 2u\28mobile\29, .\31 2u\24\28mobile\29 {
			width: 100%;
			clear: none;
			margin-left: 0;
		}

		.\31 1u\28mobile\29, .\31 1u\24\28mobile\29 {
			width: 91.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 0u\28mobile\29, .\31 0u\24\28mobile\29 {
			width: 83.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\39 u\28mobile\29, .\39 u\24\28mobile\29 {
			width: 75%;
			clear: none;
			margin-left: 0;
		}

		.\38 u\28mobile\29, .\38 u\24\28mobile\29 {
			width: 66.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\37 u\28mobile\29, .\37 u\24\28mobile\29 {
			width: 58.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\36 u\28mobile\29, .\36 u\24\28mobile\29 {
			width: 50%;
			clear: none;
			margin-left: 0;
		}

		.\35 u\28mobile\29, .\35 u\24\28mobile\29 {
			width: 41.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\34 u\28mobile\29, .\34 u\24\28mobile\29 {
			width: 33.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\33 u\28mobile\29, .\33 u\24\28mobile\29 {
			width: 25%;
			clear: none;
			margin-left: 0;
		}

		.\32 u\28mobile\29, .\32 u\24\28mobile\29 {
			width: 16.6666666667%;
			clear: none;
			margin-left: 0;
		}

		.\31 u\28mobile\29, .\31 u\24\28mobile\29 {
			width: 8.3333333333%;
			clear: none;
			margin-left: 0;
		}

		.\31 2u\24\28mobile\29 + *,
		.\31 1u\24\28mobile\29 + *,
		.\31 0u\24\28mobile\29 + *,
		.\39 u\24\28mobile\29 + *,
		.\38 u\24\28mobile\29 + *,
		.\37 u\24\28mobile\29 + *,
		.\36 u\24\28mobile\29 + *,
		.\35 u\24\28mobile\29 + *,
		.\34 u\24\28mobile\29 + *,
		.\33 u\24\28mobile\29 + *,
		.\32 u\24\28mobile\29 + *,
		.\31 u\24\28mobile\29 + * {
			clear: left;
		}

		.\-11u\28mobile\29 {
			margin-left: 91.66667%;
		}

		.\-10u\28mobile\29 {
			margin-left: 83.33333%;
		}

		.\-9u\28mobile\29 {
			margin-left: 75%;
		}

		.\-8u\28mobile\29 {
			margin-left: 66.66667%;
		}

		.\-7u\28mobile\29 {
			margin-left: 58.33333%;
		}

		.\-6u\28mobile\29 {
			margin-left: 50%;
		}

		.\-5u\28mobile\29 {
			margin-left: 41.66667%;
		}

		.\-4u\28mobile\29 {
			margin-left: 33.33333%;
		}

		.\-3u\28mobile\29 {
			margin-left: 25%;
		}

		.\-2u\28mobile\29 {
			margin-left: 16.66667%;
		}

		.\-1u\28mobile\29 {
			margin-left: 8.33333%;
		}

	}

/* Basic */

	body {
		background: #ececec;
		font-family: 'Open Sans', sans-serif;
		font-weight: 200;
		color: #3d3d3d;
	}

	input, select, textarea {
		font-family: 'Open Sans', sans-serif;
		font-weight: 200;
		color: #3d3d3d;
	}

	br.clear {
		clear: both;
	}

	strong, b {
		font-weight: 600;
	}

	em, i {
		font-style: italic;
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 300;
		color: #262626;
	}

	p, ul, ol, dl, table {
		margin-bottom: 1em;
	}

	p {
		line-height: 2em;
	}

	a {
		color: #0087cd;
	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	hr {
		border: 0;
		border-top: solid 1px #ddd;
	}

	blockquote {
		border-left: solid 0.5em #ddd;
		padding: 1em 0 1em 2em;
		font-style: italic;
	}

/* Section/Article */

	section, article {
		margin-bottom: 3em;
	}

		section > :last-child, section:last-child, article > :last-child, article:last-child {
			margin-bottom: 0;
		}

	footer {
		padding-top: 1em;
	}

	.subtitle {
		font-weight: 300;
		color: #a0a0a0;
		text-align: left !important;
	}

/* Image */

	.image {
		display: inline-block;
	}

		.image img, .image.fit {
			display: block;
			width: 100%;
		}

		.image.featured {
			display: block;
			width: 100%;
			margin: 0 0 2em 0;
		}

		.image.left {
			float: left;
			margin: 0 2.5em 2em 0;
		}

			.image.left img {
				position: relative;
				top: 0.35em;
			}

		.image.centered {
			display: block;
			margin: 0 0 2em 0;
		}

			.image.centered img {
				margin: 0 auto;
				width: auto;
			}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.25s ease-in-out;
		-webkit-transition: background-color 0.25s ease-in-out;
		-ms-transition: background-color 0.25s ease-in-out;
		transition: background-color 0.25s ease-in-out;
		display: inline-block;
		padding: 1.1em 1.25em;
		background: #0087cd url("images/bg01.png") no-repeat right top;
		background-size: 100% 100%;
		text-decoration: none;
		font-size: 1.10em;
		color: #FFFFFF;
		outline: 0;
		border: 0;
		cursor: pointer;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		button:hover,
		.button:hover {
			background-color: #119ee7;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		button:active,
		.button:active {
			background-color: #007cc2;
		}

		input[type="submit"].icon,
		input[type="reset"].icon,
		input[type="button"].icon,
		button.icon,
		.button.icon {
			position: relative;
		}

			input[type="submit"].icon:before,
			input[type="reset"].icon:before,
			input[type="button"].icon:before,
			button.icon:before,
			.button.icon:before {
				margin-right: 0.5em;
				position: relative;
				top: 0.1em;
			}

		input[type="submit"].alt,
		input[type="reset"].alt,
		input[type="button"].alt,
		button.alt,
		.button.alt {
			background-color: #d93d00;
		}

			input[type="submit"].alt:hover,
			input[type="reset"].alt:hover,
			input[type="button"].alt:hover,
			button.alt:hover,
			.button.alt:hover {
				background-color: #f35111;
			}

			input[type="submit"].alt:active,
			input[type="reset"].alt:active,
			input[type="button"].alt:active,
			button.alt:active,
			.button.alt:active {
				background-color: #d43800;
			}

		input[type="submit"].alt2,
		input[type="reset"].alt2,
		input[type="button"].alt2,
		button.alt2,
		.button.alt2 {
			background-color: #414141;
		}

			input[type="submit"].alt2:hover,
			input[type="reset"].alt2:hover,
			input[type="button"].alt2:hover,
			button.alt2:hover,
			.button.alt2:hover {
				background-color: #575757;
			}

			input[type="submit"].alt2:active,
			input[type="reset"].alt2:active,
			input[type="button"].alt2:active,
			button.alt2:active,
			.button.alt2:active {
				background-color: #363636;
			}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		button.big,
		.button.big {
			width: 100%;
			font-size: 2em;
			padding: 1.30em 0em 1.30em 0;
			font-weight: 300;
			text-align: center;
		}

/* List */

	ul.default {
		list-style: disc;
		padding-left: 1em;
	}

		ul.default li {
			padding-left: 0.5em;
		}

	ul.style1 li {
		padding: 0.575em 0;
		border-top: 1px solid #e0e0e0;
	}

	ul.style1 a:hover {
		text-decoration: none;
	}

	ul.style1 .first {
		padding-top: 0em;
		border-top: none;
	}

	ul.style2 li {
		clear: both;
		padding: 2em 0em 1em 0em;
		border-top: 1px solid #e0e0e0;
	}

	ul.style2 a {
		text-decoration: none;
		color: #7f7f7f;
	}

		ul.style2 a:hover {
			text-decoration: underline;
		}

	ul.style2 h3 {
		letter-spacing: -2px;
		font-weight: 200;
		margin: 0;
	}

		ul.style2 h3 a {
			display: block;
			padding: 0.25em 0em 0.75em 0em;
			color: #262626;
		}

	ul.style2 .first {
		padding-top: 0em;
		border-top: none;
	}

	ul.style3 li {
		position: relative;
		line-height: 2em;
		padding: 0 0 0 48px;
		margin: 2.25em 0 0 0;
	}

		ul.style3 li:before {
			cursor: default;
			position: absolute;
			left: 0;
			top: 0;
			background: #474747;
			color: #fff;
			width: 32px;
			height: 32px;
			font-size: 20px;
			line-height: 32px;
			text-align: center;
		}

		ul.style3 li:first-child {
			margin-top: 0;
		}

	ul.actions {
		cursor: default;
	}

		ul.actions:last-child {
			margin-bottom: 0;
		}

		ul.actions li {
			display: inline-block;
			padding: 0 0 0 1em;
		}

			ul.actions li:first-child {
				padding: 0;
			}

		ul.actions.vertical li {
			display: block;
			padding: 1em 0 0 0;
		}

			ul.actions.vertical li:first-child {
				padding: 0;
			}

	ol.default {
		list-style: decimal;
		padding-left: 1.25em;
	}

		ol.default li {
			padding-left: 0.25em;
		}

/* Form */

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: border-color 0.2s ease-in-out;
		-webkit-transition: border-color 0.2s ease-in-out;
		-ms-transition: border-color 0.2s ease-in-out;
		transition: border-color 0.2s ease-in-out;
		background: #fff;
		border: solid 1px #e0e0e0;
		color: inherit;
		display: block;
		outline: 0;
		padding: 0.75em;
		text-decoration: none;
		width: 100%;
	}

		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="email"]:focus,
		select:focus,
		textarea:focus {
			border-color: #0087cd;
		}

	input[type="text"],
	input[type="password"],
	input[type="email"] {
		line-height: 1em;
	}

	label {
		display: block;
		color: inherit;
		font-weight: 600;
		line-height: 1.75em;
		margin-bottom: 0.5em;
	}

	::-webkit-input-placeholder {
		color: #999999;
		position: relative;
		top: 3px;
	}

	:-moz-placeholder, ::-moz-placeholder, :-ms-input-placeholder, .formerize-placeholder {
		color: #999999;
	}

/* Table */

	table {
		width: 100%;
	}

		table.default {
			width: 100%;
		}

			table.default tbody tr {
				border-bottom: solid 1px #e0e0e0;
			}

			table.default td {
				padding: 0.5em 1em 0.5em 1em;
			}

			table.default th {
				font-weight: 600;
				padding: 0.5em 1em 0.5em 1em;
				text-align: left;
			}

			table.default thead {
				background-color: #555555;
				color: #fff;
			}

/* Highlight */

	.highlight {
		position: relative;
	}

		.highlight a {
			display: block;
			text-decoration: none;
			color: #fff;
		}

		.highlight .image {
			margin: 0;
		}

		.highlight header {
			-moz-transition: background-color 0.25s ease-in-out;
			-webkit-transition: background-color 0.25s ease-in-out;
			-ms-transition: background-color 0.25s ease-in-out;
			transition: background-color 0.25s ease-in-out;
			background: #0087cd url("images/bg01.png") no-repeat right top;
			background-size: 100% 100%;
			padding: 2.25em 100px 2.25em 2em;
			position: relative;
		}

			.highlight header:before {
				display: inline-block;
				font-family: FontAwesome;
				text-decoration: none;
				font-style: normal;
				font-weight: normal;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: '\f0a9';
				position: absolute;
				right: 24px;
				top: 50%;
				margin-top: -32px;
				font-size: 64px;
			}

			.highlight header h2 {
				font-size: 2em;
				letter-spacing: -1px;
				margin: 0;
				color: inherit;
			}

			.highlight header p {
				font-weight: 300;
				letter-spacing: 0;
				opacity: 0.65;
				color: inherit;
				margin: 0.25em 0 0 0;
				font-size: 1.25em;
				line-height: 1.5em;
			}

		.highlight a:hover header {
			background-color: #119ee7;
		}

		.highlight a:active header {
			background-color: #007cc2;
		}

		.highlight.alt a header {
			background-color: #d93d00;
		}

		.highlight.alt a:hover header {
			background-color: #f35111;
		}

		.highlight.alt a:active header {
			background-color: #d43800;
		}

		.highlight.alt2 a header {
			background-color: #414141;
		}

		.highlight.alt2 a:hover header {
			background-color: #575757;
		}

		.highlight.alt2 a:active header {
			background-color: #363636;
		}

/* Icons */

	.icon {
		text-decoration: none;
	}

		.icon:before {
			display: inline-block;
			font-family: FontAwesome;
			font-size: 1.25em;
			text-decoration: none;
			font-style: normal;
			font-weight: normal;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		.icon > .label {
			display: none;
		}

/* Wrappers */

	#header-wrapper {
		position: relative;
		background: #080808 url("images/overlay.png") repeat;
		top: 0;
	}

		#header-wrapper:before {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-image: url("images/bg02.png");
			background-size: 100% 100%;
		}

	#banner-wrapper {
		position: relative;
		width: 100%;
		background: #212121 url("images/overlay.png") repeat;
	}

		#banner-wrapper:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			background-image: url("images/bg03.png");
			background-repeat: no-repeat;
			background-size: 100% auto;
		}

	#featured-wrapper, #main-wrapper {
		position: relative;
		background: #FFFFFF;
	}

	.homepage #main-wrapper {
		background: #f6f6f6;
	}

	#footer-wrapper {
		position: relative;
	}

/* Banner */

	#banner {
		position: relative;
		z-index: 1;
	}

		#banner .image-full {
			line-height: 0;
			margin: 0;
		}

/* Slider */

	#slider {
		background: #111;
	}

/* Featured */

	#featured {
		overflow: hidden;
	}

		#featured h2 {
			font-weight: 200;
		}

		#featured h3 {
			font-weight: 300;
		}

/* Footer */

	#footer {
		overflow: hidden;
	}

		#footer h2 {
			letter-spacing: -1px;
		}

/* Copyright */

	#copyright {
		text-align: center;
		color: #b8b8b8;
	}

/* Desktop */

	@media screen and (min-width: 737px) {

		/* Basic */

			body, input, select, textarea {
				font-size: 10pt;
				line-height: 1.75em;
			}

			h2 {
				font-size: 2em;
				line-height: 1.25em;
				margin: 0 0 1em 0;
				letter-spacing: -1px;
			}

			h3 {
				line-height: 1.25em;
				margin: 0 0 1em 0;
				font-size: 1.75em;
				letter-spacing: -0.5px !important;
			}

			.subtitle {
				font-size: 1.75em;
				letter-spacing: -0.5px !important;
			}

		/* Wrappers */

			#banner-wrapper {
				padding: 4em 0 4em 0;
			}

			#featured-wrapper, #main-wrapper {
				padding: 8em 0 8em 0;
			}

			#footer-wrapper {
				padding: 8em 0 4em 0;
			}

		/* Header */

			#header {
				position: relative;
				padding: 6em 0 6em 0;
			}

				#header h1 {
					letter-spacing: -1px;
					text-align: center;
					font-size: 2.50em;
					font-weight: 400;
				}

					#header h1 a {
						text-decoration: none;
						color: #FFFFFF;
						outline: 0;
					}

				#header span {
					font-weight: 200;
					color: #727272;
				}

		/* Nav */

			#nav {
				position: relative;
				height: 4em;
				padding-top: 2em;
				margin: 0px auto;
				cursor: default;
			}

				#nav > ul > li > ul {
					display: none;
				}

				#nav ul {
					margin: 0;
					padding: 0;
					text-align: center;
				}

				#nav li {
					display: inline-block;
					margin: 0em 0.50em;
				}

					#nav li a {
						display: inline-block;
						line-height: 2.5em;
						padding: 0 1.25em 0 1.25em;
						text-decoration: none;
						font-size: 1.05em;
						color: #727272;
						outline: 0;
					}

					#nav li:hover a {
						background: #282828;
						background: rgba(42, 42, 42, 0.94);
						color: #bbb;
					}

					#nav li:active a, #nav li.active a {
						background: #282828;
						background: rgba(42, 42, 42, 0.94);
						color: #fff;
					}

					#nav li .current_page_item a {
						background: #0087cd !important;
						color: #FFFFFF !important;
					}

				#nav .first {
					border-left: none;
				}

			.dropotron {
				background: #282828;
				background: rgba(42, 42, 42, 0.94);
				min-width: 15em;
				padding: 0.75em;
				box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.15);
			}

				.dropotron li > a, .dropotron li > span {
					display: block;
					color: #727272;
					text-decoration: none;
					line-height: 2.75em;
					padding: 0 1em 0 1em;
					outline: 0;
				}

				.dropotron li:hover > a, .dropotron li:hover > span {
					background: #202020;
					color: #bbb;
				}

		/* Content */

			#content {
				overflow: hidden;
				padding-bottom: 6em;
			}

				#content p {
					text-align: justify;
				}

			.homepage #content {
				padding-bottom: 1em;
			}

			.left-sidebar #content {
				padding-left: 3em;
			}

			.right-sidebar #content {
				padding-right: 3em;
			}

			#content h2 {
				margin: 0 0 0.25em 0;
				font-size: 3em;
			}

		/* Featured */

			#featured h2 {
				font-size: 2.50em;
				margin: 0 0 0.25em 0;
			}

			#featured h3 {
				font-size: 1.70em;
			}

			#featured .subtitle {
				font-size: 1.50em;
			}

			#featured .image {
				margin-bottom: 3em;
			}

		/* Slider */

			#slider {
				overflow: hidden;
				margin: 0 auto;
				position: relative;
				height: 370px;
				cursor: default;
			}

				#slider .viewer {
					margin: 0 auto;
				}

					#slider .viewer .reel {
						display: none;
					}

						#slider .viewer .reel .slide {
							position: relative;
							width: 1200px !important;
						}

							#slider .viewer .reel .slide img {
								width: 1200px;
								line-height: 0;
								position: absolute;
								top: 0;
								left: 0;
							}

				#slider .info {
					position: absolute;
					z-index: 1;
					width: 100%;
					top: 7em;
					right: 4em;
					padding: 0px 0px 20px 30px;
					text-align: right;
				}

					#slider .info h2 {
						opacity: 0.75;
						line-height: 1.25em;
						font-size: 3em;
						font-weight: 200;
						color: #ffffff;
						margin: 0 0 0.5em 0;
					}

					#slider .info span {
						display: block;
						text-decoration: none;
						opacity: 0.75;
						font-weight: 200;
						color: #b4b3b3;
						font-size: 2.00em;
					}

				#slider .indicator {
					position: absolute;
					bottom: 2em;
					right: 4em;
					height: 50px;
				}

					#slider .indicator ul {
						list-style: none;
						padding: 0;
						margin: 0;
						text-align: center;
					}

						#slider .indicator ul li {
							display: inline-block;
							width: 1em;
							height: 1em;
							text-indent: -9999px;
							background: #555;
							background: rgba(255, 255, 255, 0.2);
							margin: 0 0.25em 0 0.25em;
							border-radius: 50%;
						}

							#slider .indicator ul li.active {
								background: #fff;
								background: rgba(255, 255, 255, 0.6);
							}

		/* Copyright */

			#copyright {
				margin-top: 2em;
				padding: 4em 0em 8em 0em;
			}

	}

/* Tablet */

	@media screen and (min-width: 737px) and (max-width: 1200px) {

		/* Basic */

			body {
				min-width: 1000px;
				font-size: 9.5pt;
				line-height: 1.75em;
			}

			input, select, textarea {
				font-size: 9.5pt;
				line-height: 1.75em;
			}

			h2 {
				font-size: 1.85em;
			}

			h3, .subtitle, .button.big {
				font-size: 1.5em;
			}

			.highlight header {
				padding: 1.5em 80px 1.5em 1.5em;
			}

				.highlight header:before {
					right: 24px;
					margin-top: -24px;
					font-size: 48px;
				}

		/* Wrappers */

			#banner-wrapper {
				padding: 1.75em 0 1.75em 0;
			}

			#featured-wrapper, #main-wrapper {
				padding: 4em 0 4em 0;
			}

			#footer-wrapper {
				padding: 4em 0 2em 0;
			}

		/* Header */

			#header {
				padding: 3em 0 4em 0;
			}

				#header h1 {
					font-size: 2em;
				}

		/* Slider */

			#slider {
				height: 308px;
			}

				#slider .viewer .reel .slide {
					width: 1001px !important;
				}

					#slider .viewer .reel .slide img {
						width: 1001px;
					}

				#slider .info {
					top: 6em;
				}

					#slider .info h2 {
						font-size: 2.5em;
					}

				#slider .indicator {
					bottom: 1.5em;
				}

		/* Content */

			#content {
				overflow: hidden;
				padding-bottom: 3em;
			}

				#content h2 {
					padding: 0em 0em 0.25em 0em;
					font-size: 2.75em;
				}

	}

/* Mobile */

	#navPanel, #titleBar {
		display: none;
	}

	@media screen and (max-width: 736px) {

		/* Basic */

			html, body {
				overflow-x: hidden;
			}

			body, input, select, textarea {
				font-size: 9.5pt;
				letter-spacing: 0;
				line-height: 1.75em;
			}

			h2, h3, h4, h5, h6 {
				line-height: 1.25em !important;
				font-size: 1.5em !important;
				letter-spacing: 0px !important;
				margin: 0 0 1.25em 0;
			}

		/* Section/Article */

			section, article {
				margin: 0 0 3em 0 !important;
			}

			.bordered section {
				margin: 0 !important;
			}

			.subtitle {
				margin: 0 0 2em 0;
			}

		/* Button */

			input[type="submit"],
			input[type="reset"],
			input[type="button"],
			button,
			.button {
				display: block;
				font-size: 1.25em !important;
				letter-spacing: 0px !important;
			}

		/* Image */

			.image {
				display: block;
				width: 100%;
				margin: 0 0 2em 0;
			}

				.image.left {
					float: left;
					width: 25%;
					margin: 0 2em 1em 0;
				}

		/* List */

			ul.style2 li.first {
				padding: 2em 0em 1em 0em;
				border-top: 1px solid #e0e0e0;
			}

			ul.actions {
				cursor: default;
				margin-top: 1em;
			}

				ul.actions li {
					display: block;
					padding: 1em 0 0 0;
				}

					ul.actions li input[type="submit"],
					ul.actions li input[type="reset"],
					ul.actions li input[type="button"],
					ul.actions li button,
					ul.actions li .button {
						display: block;
						width: 100%;
					}

					ul.actions li:first-child {
						padding: 0;
					}

		/* Highlight */

			.highlight header {
				padding: 1.25em 80px 1em 1.25em;
			}

				.highlight header:before {
					right: 24px;
					margin-top: -24px;
					font-size: 48px;
				}

		/* Off-Canvas Navigation */

			#page-wrapper {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				padding-bottom: 1px;
			}

			#titleBar {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 44px;
				left: 0;
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 10001;
			}

				#titleBar .toggle {
					text-indent: -9999px;
					width: 70px;
					height: 50px;
					position: absolute;
					left: 0;
					top: 0;
				}

					#titleBar .toggle:before {
						content: '';
						position: absolute;
						left: 10px;
						top: 10px;
						background: rgba(128, 128, 128, 0.75);
						width: 60px;
						height: 36px;
						opacity: 0.5;
					}

					#titleBar .toggle:after {
						content: '';
						position: absolute;
						left: 27px;
						top: 22px;
						width: 44px;
						height: 44px;
						background: url("images/toggle.svg") 0 0 no-repeat;
						opacity: 0.6;
					}

					#titleBar .toggle:active:before {
						opacity: 1.0;
					}

			#navPanel {
				-moz-backface-visibility: hidden;
				-webkit-backface-visibility: hidden;
				-ms-backface-visibility: hidden;
				backface-visibility: hidden;
				-moz-transform: translateX(-275px);
				-webkit-transform: translateX(-275px);
				-ms-transform: translateX(-275px);
				transform: translateX(-275px);
				-moz-transition: -moz-transform 0.5s ease;
				-webkit-transition: -webkit-transform 0.5s ease;
				-ms-transition: -ms-transform 0.5s ease;
				transition: transform 0.5s ease;
				display: block;
				height: 100%;
				left: 0;
				overflow-y: auto;
				position: fixed;
				top: 0;
				width: 275px;
				z-index: 10002;
				background: #111 url("images/overlay.png") repeat;
				box-shadow: inset -3px 0px 10px 0px rgba(0, 0, 0, 0.25);
			}

				#navPanel .link {
					display: block;
					color: #888;
					text-decoration: none;
					height: 44px;
					line-height: 44px;
					border-top: 1px solid rgba(255, 255, 255, 0.05);
					padding: 0 1em 0 1em;
				}

					#navPanel .link:first-child {
						border-top: 0;
					}

				#navPanel .indent-1 {
					display: inline-block;
					width: 1em;
				}

				#navPanel .indent-2 {
					display: inline-block;
					width: 2em;
				}

				#navPanel .indent-3 {
					display: inline-block;
					width: 3em;
				}

				#navPanel .indent-4 {
					display: inline-block;
					width: 4em;
				}

				#navPanel .indent-5 {
					display: inline-block;
					width: 5em;
				}

				#navPanel .depth-0 {
					color: #fff;
				}

			body.navPanel-visible #page-wrapper {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #titleBar {
				-moz-transform: translateX(275px);
				-webkit-transform: translateX(275px);
				-ms-transform: translateX(275px);
				transform: translateX(275px);
			}

			body.navPanel-visible #navPanel {
				-moz-transform: translateX(0);
				-webkit-transform: translateX(0);
				-ms-transform: translateX(0);
				transform: translateX(0);
			}

		/* Wrappers */

			#header-wrapper {
				padding: 3em 0 3em 0;
			}

			#banner-wrapper {
				padding: 20px 20px 0 20px;
				overflow: hidden;
			}

			#main-wrapper, #featured-wrapper, #footer-wrapper {
				padding: 3em 20px 2em 20px;
			}

		/* Header */

			#header h1 {
				display: block;
				padding: 0 1em;
				letter-spacing: -1px;
				line-height: 1.25em;
				text-align: center;
				font-size: 1.60em;
				font-weight: 400;
			}

				#header h1 a {
					text-decoration: none;
					color: #FFFFFF;
				}

			#header span {
				display: block;
				font-size: 0.65em;
				font-weight: 200;
				color: #727272;
				letter-spacing: 0;
			}

		/* Banner */

			#banner section {
				margin: 0 0 20px 0 !important;
			}

			#banner .button {
				margin: 0;
			}

		/* Slider */

			#slider {
				overflow: hidden;
				margin: 0 auto;
				position: relative;
				width: 100%;
				margin: 0 0 20px 0;
			}

				#slider .viewer {
					margin: 0 auto;
				}

					#slider .viewer .reel {
						display: none;
					}

						#slider .viewer .reel .slide {
							position: relative;
							height: auto;
						}

							#slider .viewer .reel .slide img {
								width: 225%;
								line-height: 0;
								position: absolute;
								top: 0;
								left: 0;
							}

				#slider .info {
					width: 100%;
					background: rgba(0, 0, 0, 0.8);
					position: absolute;
					bottom: 0;
					text-align: center;
					z-index: 1;
					padding: 1em 1.5em 1em 1.5em;
				}

					#slider .info h2 {
						font-weight: 400;
						color: #ffffff;
						margin: 0 0 0.1em 0;
						font-size: 1.25em !important;
						letter-spacing: 0;
					}

						#slider .info h2 br {
							display: none;
						}

					#slider .info span {
						display: block;
						opacity: 0.75;
						font-weight: 200;
						color: #b4b3b3;
					}

				#slider .indicator {
					position: absolute;
					top: 20px;
					left: 0;
					text-align: center;
					width: 100%;
					display: none;
				}

					#slider .indicator ul {
						list-style: none;
						padding: 0;
						margin: 0;
						text-align: center;
					}

						#slider .indicator ul li {
							display: inline-block;
							width: 1em;
							height: 1em;
							text-indent: -9999px;
							background: rgba(255, 255, 255, 0.5);
							margin: 0 0.25em 0 0.25em;
							border-radius: 50%;
						}

							#slider .indicator ul li.active {
								background: rgba(255, 255, 255, 0.75);
							}

		/* Nav */

			#nav {
				display: none;
			}

		/* Featured */

			#featured h2 {
				margin: 0 0 0.25em 0;
			}

		/* Sidebar */

			#sidebar ul.style2 li.first {
				padding-top: 0;
				border-top: 0;
			}

	}