<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="navy-line"></div>
            <h1><span>My Posts</span></h1>
        </div>
    </div>
    <div class="row features-block">
        <div class="smaller">
        {% for post in site.categories['blog'] %}
        {% assign loopindex = forloop.index  | modulo: 2 %}
        {% assign key = post.loc | append: "thumb_blog.jpg" %}
            <div class="post blog col-sm-4 col-md-4 col-lg-3 wow fadeIn" >
                <a href="{{post.url}}">
                    <div class="card">
                        <img src="data:image/gif;base64, {{site.data.imgdata[key].data}}" data-src="{{site.img_path}}{{post.loc}}thumb_blog.jpg" class="img-card img" width="{{site.data.imgdata[key].width}}" height="{{site.data.imgdata[key].height}}"/>
                        <div class="card-footer block-content">
                            <div class="card-title">
                                <h4>{{post.title}}</h4>
                            </div>
                            <div class="card-desc">
                               <p>{{post.desc}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>
    </div>
</div>
