---
import BaseLayout from '../layouts/BaseLayout.astro';
import About from '../components/sections/About.astro';
import Books from '../components/sections/Books.astro';
import ReviewsTeaser from '../components/sections/ReviewsTeaser.astro';
import BlogsTeaser from '../components/sections/BlogsTeaser.astro';
import TutorialsTeaser from '../components/sections/TutorialsTeaser.astro';
import Courses from '../components/sections/Courses.astro';
import Other from '../components/sections/Other.astro';
---
<BaseLayout>
  <div class="primary-content">
    <About />
    <Books />
    <ReviewsTeaser />
    <BlogsTeaser />
    <TutorialsTeaser />
    <Courses />
    <Other />
  </div>
</BaseLayout>
