---
layout: blog
title: Podcast
permalink: /podcast/
---

<div class="row">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Commuting the Cosmos</h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 wow fadeIn text-center">
            <p class="personal-desc m-t-lg">
                Join me as we travel through the cosmos in search of fun things to talk
                about! We'll be in the solar system discussing where else we can live, investigating
                the mysteries of dark matter and dark energy, tearing apart bad science, and appreciating
                cool space tech, all in one bite-sized podcast.
            </p>
        </div>
    </div>
    <div class="m-b-md row podcast-links">
        <div class="m-b-sm col-md-3 col-md-offset-1 col-lg-2 col-lg-offset-3 wow fadeIn text-center">
            <a href="https://commutingthecosmos.simplecast.fm/">
                <button class="btn fancy-button btn-block btn-lg btn-home">
                    <i class="fas fa-home margin-right"></i>Home
                </button>
            </a>
        </div>
        <div class="m-b-sm col-md-4 col-lg-2 wow fadeIn text-center">
            <a href="https://itunes.apple.com/au/podcast/commuting-the-cosmos/id1417809615">
                <button class="btn fancy-button btn-block btn-lg btn-itunes">
                    <i class="fab fa-apple margin-right"></i>iTunes
                </button>
            </a>
        </div>
        <div class="m-b-sm col-md-3 col-lg-2 wow fadeIn text-center">
            <a href="https://open.spotify.com/show/0TLIjk9XRESeamrUUxHpXF">
                <button class="btn fancy-button btn-block btn-lg btn-spotify">
                    <i class="fab fa-spotify margin-right"></i>Spotify
                </button>
            </a>
        </div>
    </div>
    <div class="row m-b-xl">
        <div class="col-sm-8 col-sm-offset-2 wow fadeIn text-center">
            <p class="personal-desc m-t-md" style="margin-bottom: 20px;">
                If you would like to submit a question or scenario, please send me an email to <a class="email" href="mailto:commutingthecosmos@gmail.com">commutingthecosmos@gmail.com</a> or use the button below.
            </p>
            <a href="#myModal" role="button" class="cta" data-toggle="modal" onclick="conf_return()" style="display:inline;">
                <button class="btn btn-primary fancy-button">Submit a question</button>
            </a>
        </div>

        {% include modal2.html %}
        {% include modal_thanks.html %}
    </div>
</div>


<div class="row gray-section">
    <div class="col-lg-12 text-center">
        <div class="navy-line"></div>
        <h1>Episodes</h1>
    </div>
</div>

<div class="wrapper wrapper-content projects gray-section" >
    <div class="row" id="podcast-list">
    </div>
</div>


<script src="https://static.sekandocdn.net/static/feednami/feednami-client-v1.1.js"></script>

<script>
    function get_html_from_entry(entry, index, load_order) {
        var title = entry.title;
        var desc = entry.summary[0].content;
        var img = entry.image.href;
        img = img.replace(new RegExp("(.*image\/[0-9]*\/)([0-9]*)", "mg"), "\$1thumb_\$2");
        var options = {  year: 'numeric', month: 'short', day: 'numeric' };
        var date = new Date(entry.date).toLocaleDateString("en-US", options);
        var delay = 100 * load_order + 1000;
        var url = entry.link[0].href;
        var duration = entry.duration.content;
        var d = duration.split(":").map(function(x){return parseInt(x)});
        var dd = "";
        if (d[0]) {
            dd += d[0] + "h ";
        }
        dd += d[1] + "m " + d[2] + "s";
        var html = `
            <div id="${name}" class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2 col-xl-6 col-xl-offset-3 m-b-md padding-bottom animated fadeIn">
                <a href="${url}">
                <div class="card card-horizontal" data-wow-delay="${delay}ms">
                <img class="img img-card img-small" src="${img}">
                <div class="card-footer block-content">
                <div class="card-title">
                <h4>${title}</h4>
                </div>
                <div class="card-desc">
                <p>${desc}</p>
                </div>
                <div class="card-bottom pull-left text-muted">
                <p><strong>Episode ${index}</strong> &#8231 ${date}</p>
                </div>
                <div class="card-bottom pull-right text-muted hide-if-not-medium">
                    <button class="btn btn-white btn-xs" type="button">${dd}</button>
                </div>
                </div>
                </div></a>
                </div>`;
            return html;
        }
        var list = $("#podcast-list");
        function handleResponse(response) {
            var entries = response.query.results.feed.entry;
            for (var i = 0; i < entries.length; i++) {
                var entry = entries[i];
                var html = get_html_from_entry(entry, entries.length - i - 1, i);
                list.append(html);
            }
        }
        function injectScript(url) {
            var scriptElement = document.createElement('script');
            scriptElement.setAttribute('type', 'text/javascript');
            scriptElement.setAttribute('src', url);
            document.getElementsByTagName('head')[0].appendChild(scriptElement);
        }
        //document.location.protocol
        url = "https://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20feednormalizer%20where%20url%3D'";
        url += encodeURIComponent('https://rss.simplecast.com/podcasts/6765/rss');
        url += "'%20and%20output%3D'atom_1.0'&format=json&env=store%3A%2F%2Fdatatables.org%2Falltableswithkeys&callback=handleResponse";
        injectScript(url);


    </script>