---
layout: blog
title: Tutorials
permalink: /tutorials/
---
<div class="gray-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1><span>Tutorials</span></h1>
            </div>
        </div>
        <div class="row features-block">
            <div class="smaller blogs container">
                {% assign categories =  site.categories['tutorial'] | map: 'tags' | uniq | sort %}
                <div class="blog-nav bottom-spaced-sm">
                    <ul class="nav nav-tabs nav-justified">
                        {% for cat in categories %}
                        <li class="text-capitalize {{ cat }}"><a onclick="toggle_nav('{{ cat }}');">{{ cat }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% for post in site.categories['tutorial'] %}
                {% assign key = post.loc | append: "thumb_blog.jpg" %}
                <div class="post blog no-side-padding col-sm-4 col-md-4 col-lg-3 wow fadeIn padding-bottom {{post.tags}}" >
                    <a href="{{post.url}}">
                        <div class="card">
                            <img src="data:image/gif;base64, {{site.data.imgdata[key].data}}" data-src="{{site.img_path}}{{post.loc}}thumb_card.jpg" class="img-card img" width="{{site.data.imgdata[key].width}}" height="{{site.data.imgdata[key].height}}"/>
                            <div class="card-footer block-content">
                                <div class="card-title">
                                    <h4>{{post.short_title | default: post.title }}</h4>
                                </div>
                                <div class="card-desc">
                                    <p>{{post.desc}}</p>
                                </div>
                                <div class="card-tag">
                                    <p class="{{ post.tags }}">{{post.tags}}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
