---
import { nav } from '../data/nav';
import MobileMenu from './islands/MobileMenu.svelte';
---
<header class="absolute w-full z-30">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="flex items-center justify-between h-[50px] md:h-20">

      <div class="shrink-0 mr-4">
        <a class="block" href="/" aria-label="Samuel Hinton">
          <h2 class="logo">SRH</h2>
        </a>
      </div>

      <nav class="hidden md:flex md:flex-grow">
        <ul class="flex flex-grow justify-end flex-wrap items-center">
          {nav.map((item) => (
            <li>
              <a
                href={item.link}
                class="text-gray-300 hover:text-gray-200 px-4 py-2 flex items-center transition duration-150 ease-in-out"
              >{item.label}</a>
            </li>
          ))}
        </ul>
      </nav>

      <div class="md:hidden">
        <MobileMenu client:idle items={[...nav]} />
      </div>

    </div>
  </div>
</header>
