---
layout: default
---

<div class="content content-wider blog-post relative" data-aos="fade-up">
    <div class="section-header blog">
        <h1 class="title" data-aos="fade-up">{{page.title}}</h1>
        <p data-aos="fade-up">{{ page.date | date: "%-d %b %Y" }}, <a href="https://www.linkedin.com/in/samuelreay/">Samuel Hinton</a></p>
        <p data-aos="fade-up">{{page.desc}}</p>
    </div>
    {% include share.html %}


    {{ content }}

    {% if page.tags contains "writing" %}
    {% include newsletter-blog.html %}
    {% endif %}

</div>



{% if page.math %}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
});
</script>
<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" async></script>
{% endif %}