@charset "UTF-8";
:root {
  --grad-m: linear-gradient(
    45deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(219, 61, 96, 1) 8%,
    rgba(254, 169, 71, 1) 20%,
    rgba(253, 29, 29, 1) 32%,
    rgba(252, 176, 69, 1) 45%,
    rgba(255, 216, 106, 1) 53%,
    rgba(252, 176, 69, 1) 58%,
    rgba(252, 127, 69, 1) 68%,
    rgba(217, 64, 64, 1) 85%,
    rgba(131, 58, 180, 1) 100%
  );
  --grad-s: linear-gradient(
    45deg,
    #6ee3e7,
    #3b82f6,
    #9333ea,
    #3b82f6,
    #6ee7b7,
    #1c91ff,
    #5fd1f9
  );
  --grad-a: linear-gradient(
    45deg,
    #bf953f,
    #fcf6ba,
    #b38728,
    #fbf5b7,
    #aa771c,
    #bf953f,
    #fcf6ba,
    #b38728
  );
  --grad-b: linear-gradient(
    45deg,
    #dedede,
    #ffffff,
    #dedede,
    #ffffff,
    #7c7c7c,
    #dedede,
    #ffffff,
    #ffffff,
    #7c7c7c,
    #ffffff,
    #dedede
  );
  --grad-c: linear-gradient(
    45deg,
    #ca7345,
    #ffdeca,
    #ca7345,
    #ffdeca,
    #a14521,
    #ca7345,
    #ffdeca,
    #ffdeca,
    #ca7345,
    #ffdeca,
    #ca7345
  );
  --grad-d: linear-gradient(
    45deg,
    rgb(145, 42, 42),
    rgb(105, 19, 19),
    rgb(145, 42, 42),
    rgb(66, 7, 7),
    rgb(145, 42, 42)
  );
  --grad-f: linear-gradient(
    45deg,
    rgba(162, 171, 88, 1) 0%,
    rgba(180, 198, 32, 1) 16%,
    rgba(106, 161, 28, 1) 25%,
    rgba(162, 171, 88, 1) 31%,
    rgba(162, 171, 88, 1) 53%,
    rgba(99, 99, 99, 1) 61%,
    rgba(213, 211, 77, 1) 70%,
    rgba(162, 171, 88, 1) 100%
  );
}

.text-gradient {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.logo {
  @apply text-gradient gradient;
  letter-spacing: 0em;
}

.gradient,
.text-gradient {
  background-image: linear-gradient(132deg, #ffc750 5%, #ff5c4c 95%);
}

.under {
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: color, background, -webkit-box-shadow;
  transition-property: color, background, -webkit-box-shadow;
  transition-property: box-shadow, color, background;
  transition-property: box-shadow, color, background, -webkit-box-shadow;
}

.under.red-under {
  -webkit-box-shadow: 0 10px 0 0 #ff386000, inset 0 -0.125em #ff386033;
          box-shadow: 0 10px 0 0 #ff386000, inset 0 -0.125em #ff386033;
}

.under.red-under:hover {
  color: #f42a52;
  -webkit-box-shadow: 0 1px 0 4px #ff38601a, inset 0 -1.375em 0 #ff38601a;
          box-shadow: 0 1px 0 4px #ff38601a, inset 0 -1.375em 0 #ff38601a;
}

.under.blue-under {
  -webkit-box-shadow: 0 10px 0 0 #ff386000, inset 0 -0.125em #38afff33;
          box-shadow: 0 10px 0 0 #ff386000, inset 0 -0.125em #38afff33;
}

.under.blue-under:hover {
  color: #0a80e0;
  -webkit-box-shadow: 0 1px 0 4px #5fc4f31a, inset 0 -1.375em 0 #3ac1f71a;
          box-shadow: 0 1px 0 4px #5fc4f31a, inset 0 -1.375em 0 #3ac1f71a;
}

.under.orange-under {
  -webkit-box-shadow: 0 10px 0 0 #ffa93800, inset 0 -0.125em #ff813833;
          box-shadow: 0 10px 0 0 #ffa93800, inset 0 -0.125em #ff813833;
}

.under.orange-under:hover {
  color: #e95c20;
  -webkit-box-shadow: 0 1px 0 4px #ff92381a, inset 0 -1.375em 0 #ff98381a;
          box-shadow: 0 1px 0 4px #ff92381a, inset 0 -1.375em 0 #ff98381a;
}

.under.green-under {
  -webkit-box-shadow: 0 10px 0 0 #59ff3800, inset 0 -0.125em #4fff3833;
          box-shadow: 0 10px 0 0 #59ff3800, inset 0 -0.125em #4fff3833;
}

.under.green-under:hover {
  color: #05ca05;
  -webkit-box-shadow: 0 1px 0 4px #78f35f1a, inset 0 -1.375em 0 #40f73a1a;
          box-shadow: 0 1px 0 4px #78f35f1a, inset 0 -1.375em 0 #40f73a1a;
}

.under.purple-under {
  -webkit-box-shadow: 0 10px 0 0 #ff38ff00, inset 0 -0.125em #ff38e433;
          box-shadow: 0 10px 0 0 #ff38ff00, inset 0 -0.125em #ff38e433;
}

.under.purple-under:hover {
  color: #ba0bf0;
  -webkit-box-shadow: 0 1px 0 4px #f35fec1a, inset 0 -1.375em 0 #f73ae71a;
          box-shadow: 0 1px 0 4px #f35fec1a, inset 0 -1.375em 0 #f73ae71a;
}

.blog-post .section-header .title {
  @apply text-gradient gradient text-4xl md:text-7xl pb-4;
}

.blog-post a:not(.no-under) {
  @apply under text-main-200;
  -webkit-box-shadow: 0 10px 0 0 #ffa93800, inset 0 -0.125em #ff813850;
          box-shadow: 0 10px 0 0 #ffa93800, inset 0 -0.125em #ff813850;
}

.blog-post a:not(.no-under):hover {
  color: #e95c20;
  -webkit-box-shadow: 0 1px 0 4px #ff92381a, inset 0 -1.375em 0 #ff98381a;
          box-shadow: 0 1px 0 4px #ff92381a, inset 0 -1.375em 0 #ff98381a;
}

.blog-post blockquote p {
  @apply my-0 py-4 px-8 italic border-l-4 border-main-300 text-gray-400;
}

.rating p {
  @apply text-3xl;
}

.rating .rating-π {
  background: var(--grad-m);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(255, 255, 255, 0.6);
}

.rating .rating-S {
  background: var(--grad-s);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(255, 255, 255, 0.6);
}

.rating .rating-A {
  background: var(--grad-a);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(255, 255, 255, 0.2);
}

.rating .rating-B {
  background: var(--grad-b);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(255, 255, 255, 0.5);
}

.rating .rating-C {
  background: var(--grad-c);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(255, 255, 255, 0.4);
}

.rating .rating-D {
  background: var(--grad-d);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(255, 120, 120, 0.7);
}

.rating .rating-F {
  background: var(--grad-f);
  background-clip: text;
  -webkit-background-clip: text;
  color: rgba(169, 255, 129, 0.7);
}

.rating .leader {
  @apply font-bold;
}

.tag-python {
  @apply bg-main-600 text-gray-100 font-medium;
}

.tag-snippet {
  @apply bg-green-600 text-gray-100 font-medium;
}

.tag-statistics {
  @apply bg-blue-600 text-gray-100 font-medium;
}

.tag-plotting {
  @apply bg-main-600 text-gray-100 font-medium;
}

.tag-environment {
  @apply bg-gray-600 text-gray-100 font-medium;
}

.tag-bayesian {
  @apply bg-purple-600 text-gray-100 font-medium;
}

.tag-outreach {
  @apply bg-green-600 text-gray-100 font-medium;
}

.tag-project {
  @apply bg-purple-600 text-gray-100 font-medium;
}

.tag-creative {
  @apply bg-blue-500 text-gray-100 font-medium;
}

.tag-travel {
  @apply bg-red-500 text-gray-100 font-medium;
}

.tag-writing {
  background-color: #edb404;
  @apply text-gray-800 font-medium;
}

.img-invert {
  -webkit-filter: invert(1) hue-rotate(180deg) brightness(1.2) saturate(1.3);
          filter: invert(1) hue-rotate(180deg) brightness(1.2) saturate(1.3);
  mix-blend-mode: screen;
}

.img-invert-dull {
  -webkit-filter: invert(1) hue-rotate(180deg);
          filter: invert(1) hue-rotate(180deg);
  mix-blend-mode: screen;
}

.img-screen {
  mix-blend-mode: screen;
}

.img-lighten {
  mix-blend-mode: lighten;
}

.writing-extract {
  @apply bg-gray-800 max-w-2xl mx-auto px-8 py-4 text-white rounded-2xl mb-20 leading-relaxed;
  text-indent: 3em;
  font-family: "Bookerly", "Times New Roman", Times, serif;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.glow, .review-π, .review-S, .review-A, .review-B, .review-C, .review-D, .review-F {
  position: relative;
}

.glow .bg1, .review-π .bg1, .review-S .bg1, .review-A .bg1, .review-B .bg1, .review-C .bg1, .review-D .bg1, .review-F .bg1,
.glow .bg2,
.review-π .bg2,
.review-S .bg2,
.review-A .bg2,
.review-B .bg2,
.review-C .bg2,
.review-D .bg2,
.review-F .bg2 {
  position: absolute;
  left: -5px;
  top: -5px;
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  border-radius: 0.75rem;
  z-index: -1;
  overflow: hidden;
}

.glow .bg1 .bg-inner, .review-π .bg1 .bg-inner, .review-S .bg1 .bg-inner, .review-A .bg1 .bg-inner, .review-B .bg1 .bg-inner, .review-C .bg1 .bg-inner, .review-D .bg1 .bg-inner, .review-F .bg1 .bg-inner,
.glow .bg2 .bg-inner,
.review-π .bg2 .bg-inner,
.review-S .bg2 .bg-inner,
.review-A .bg2 .bg-inner,
.review-B .bg2 .bg-inner,
.review-C .bg2 .bg-inner,
.review-D .bg2 .bg-inner,
.review-F .bg2 .bg-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.glow .bg1 .bg-inner .bg-paint, .review-π .bg1 .bg-inner .bg-paint, .review-S .bg1 .bg-inner .bg-paint, .review-A .bg1 .bg-inner .bg-paint, .review-B .bg1 .bg-inner .bg-paint, .review-C .bg1 .bg-inner .bg-paint, .review-D .bg1 .bg-inner .bg-paint, .review-F .bg1 .bg-inner .bg-paint,
.glow .bg2 .bg-inner .bg-paint,
.review-π .bg2 .bg-inner .bg-paint,
.review-S .bg2 .bg-inner .bg-paint,
.review-A .bg2 .bg-inner .bg-paint,
.review-B .bg2 .bg-inner .bg-paint,
.review-C .bg2 .bg-inner .bg-paint,
.review-D .bg2 .bg-inner .bg-paint,
.review-F .bg2 .bg-inner .bg-paint {
  position: absolute;
  left: 0;
  top: 0;
  width: 400%;
  height: 100%;
}

.review-π .bg1 .bg-inner .bg-paint,
.review-π .bg2 .bg-inner .bg-paint {
  background: var(--grad-m);
  -webkit-animation: slide 5s linear infinite;
          animation: slide 5s linear infinite;
}

.review-π .bg2 {
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

.review-S .bg1 .bg-inner .bg-paint,
.review-S .bg2 .bg-inner .bg-paint {
  background: var(--grad-s);
  -webkit-animation: slide 5s linear infinite;
          animation: slide 5s linear infinite;
}

.review-S .bg2 {
  -webkit-filter: blur(20px);
          filter: blur(20px);
}

.review-A .bg1 .bg-inner .bg-paint,
.review-A .bg2 .bg-inner .bg-paint {
  background: var(--grad-a);
  -webkit-animation: slide 10s linear infinite;
          animation: slide 10s linear infinite;
}

.review-A .bg2 {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.review-B .bg1 .bg-inner .bg-paint,
.review-B .bg2 .bg-inner .bg-paint {
  background: var(--grad-b);
  -webkit-animation: slide 20s linear infinite;
          animation: slide 20s linear infinite;
}

.review-B .bg2 {
  -webkit-filter: blur(6px);
          filter: blur(6px);
}

.review-C .bg1 .bg-inner .bg-paint,
.review-C .bg2 .bg-inner .bg-paint {
  background: var(--grad-c);
  -webkit-animation: slide 40s linear infinite;
          animation: slide 40s linear infinite;
}

.review-C .bg2 {
  display: none;
}

.review-D .bg1 .bg-inner .bg-paint,
.review-D .bg2 .bg-inner .bg-paint {
  background: var(--grad-d);
  -webkit-animation: slide 50s linear infinite;
          animation: slide 50s linear infinite;
}

.review-D .bg2 {
  display: none;
}

.review-F .bg1 .bg-inner .bg-paint,
.review-F .bg2 .bg-inner .bg-paint {
  background: var(--grad-f);
  -webkit-animation: slide 50s linear infinite;
          animation: slide 50s linear infinite;
}

.review-F .bg2 {
  display: none;
}

.tag-review {
  @apply font-medium text-2xl text-main-500 bg-gray-800 text-center;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-75%);
            transform: translateX(-75%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-75%);
            transform: translateX(-75%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.glow:nth-child(2) .bg1 .bg-inner .bg-paint, .review-π:nth-child(2) .bg1 .bg-inner .bg-paint, .review-S:nth-child(2) .bg1 .bg-inner .bg-paint, .review-A:nth-child(2) .bg1 .bg-inner .bg-paint, .review-B:nth-child(2) .bg1 .bg-inner .bg-paint, .review-C:nth-child(2) .bg1 .bg-inner .bg-paint, .review-D:nth-child(2) .bg1 .bg-inner .bg-paint, .review-F:nth-child(2) .bg1 .bg-inner .bg-paint,
.glow:nth-child(2) .bg2 .bg-inner .bg-paint,
.review-π:nth-child(2) .bg2 .bg-inner .bg-paint,
.review-S:nth-child(2) .bg2 .bg-inner .bg-paint,
.review-A:nth-child(2) .bg2 .bg-inner .bg-paint,
.review-B:nth-child(2) .bg2 .bg-inner .bg-paint,
.review-C:nth-child(2) .bg2 .bg-inner .bg-paint,
.review-D:nth-child(2) .bg2 .bg-inner .bg-paint,
.review-F:nth-child(2) .bg2 .bg-inner .bg-paint {
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
}

.glow:nth-child(3) .bg1 .bg-inner .bg-paint, .review-π:nth-child(3) .bg1 .bg-inner .bg-paint, .review-S:nth-child(3) .bg1 .bg-inner .bg-paint, .review-A:nth-child(3) .bg1 .bg-inner .bg-paint, .review-B:nth-child(3) .bg1 .bg-inner .bg-paint, .review-C:nth-child(3) .bg1 .bg-inner .bg-paint, .review-D:nth-child(3) .bg1 .bg-inner .bg-paint, .review-F:nth-child(3) .bg1 .bg-inner .bg-paint,
.glow:nth-child(3) .bg2 .bg-inner .bg-paint,
.review-π:nth-child(3) .bg2 .bg-inner .bg-paint,
.review-S:nth-child(3) .bg2 .bg-inner .bg-paint,
.review-A:nth-child(3) .bg2 .bg-inner .bg-paint,
.review-B:nth-child(3) .bg2 .bg-inner .bg-paint,
.review-C:nth-child(3) .bg2 .bg-inner .bg-paint,
.review-D:nth-child(3) .bg2 .bg-inner .bg-paint,
.review-F:nth-child(3) .bg2 .bg-inner .bg-paint {
  -webkit-animation-delay: -11s;
          animation-delay: -11s;
}

.glow:nth-child(4) .bg1 .bg-inner .bg-paint, .review-π:nth-child(4) .bg1 .bg-inner .bg-paint, .review-S:nth-child(4) .bg1 .bg-inner .bg-paint, .review-A:nth-child(4) .bg1 .bg-inner .bg-paint, .review-B:nth-child(4) .bg1 .bg-inner .bg-paint, .review-C:nth-child(4) .bg1 .bg-inner .bg-paint, .review-D:nth-child(4) .bg1 .bg-inner .bg-paint, .review-F:nth-child(4) .bg1 .bg-inner .bg-paint,
.glow:nth-child(4) .bg2 .bg-inner .bg-paint,
.review-π:nth-child(4) .bg2 .bg-inner .bg-paint,
.review-S:nth-child(4) .bg2 .bg-inner .bg-paint,
.review-A:nth-child(4) .bg2 .bg-inner .bg-paint,
.review-B:nth-child(4) .bg2 .bg-inner .bg-paint,
.review-C:nth-child(4) .bg2 .bg-inner .bg-paint,
.review-D:nth-child(4) .bg2 .bg-inner .bg-paint,
.review-F:nth-child(4) .bg2 .bg-inner .bg-paint {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.glow:nth-child(5) .bg1 .bg-inner .bg-paint, .review-π:nth-child(5) .bg1 .bg-inner .bg-paint, .review-S:nth-child(5) .bg1 .bg-inner .bg-paint, .review-A:nth-child(5) .bg1 .bg-inner .bg-paint, .review-B:nth-child(5) .bg1 .bg-inner .bg-paint, .review-C:nth-child(5) .bg1 .bg-inner .bg-paint, .review-D:nth-child(5) .bg1 .bg-inner .bg-paint, .review-F:nth-child(5) .bg1 .bg-inner .bg-paint,
.glow:nth-child(5) .bg2 .bg-inner .bg-paint,
.review-π:nth-child(5) .bg2 .bg-inner .bg-paint,
.review-S:nth-child(5) .bg2 .bg-inner .bg-paint,
.review-A:nth-child(5) .bg2 .bg-inner .bg-paint,
.review-B:nth-child(5) .bg2 .bg-inner .bg-paint,
.review-C:nth-child(5) .bg2 .bg-inner .bg-paint,
.review-D:nth-child(5) .bg2 .bg-inner .bg-paint,
.review-F:nth-child(5) .bg2 .bg-inner .bg-paint {
  -webkit-animation-delay: -9s;
          animation-delay: -9s;
}

.glow:nth-child(6) .bg1 .bg-inner .bg-paint, .review-π:nth-child(6) .bg1 .bg-inner .bg-paint, .review-S:nth-child(6) .bg1 .bg-inner .bg-paint, .review-A:nth-child(6) .bg1 .bg-inner .bg-paint, .review-B:nth-child(6) .bg1 .bg-inner .bg-paint, .review-C:nth-child(6) .bg1 .bg-inner .bg-paint, .review-D:nth-child(6) .bg1 .bg-inner .bg-paint, .review-F:nth-child(6) .bg1 .bg-inner .bg-paint,
.glow:nth-child(6) .bg2 .bg-inner .bg-paint,
.review-π:nth-child(6) .bg2 .bg-inner .bg-paint,
.review-S:nth-child(6) .bg2 .bg-inner .bg-paint,
.review-A:nth-child(6) .bg2 .bg-inner .bg-paint,
.review-B:nth-child(6) .bg2 .bg-inner .bg-paint,
.review-C:nth-child(6) .bg2 .bg-inner .bg-paint,
.review-D:nth-child(6) .bg2 .bg-inner .bg-paint,
.review-F:nth-child(6) .bg2 .bg-inner .bg-paint {
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
}

.glow:nth-child(7) .bg1 .bg-inner .bg-paint, .review-π:nth-child(7) .bg1 .bg-inner .bg-paint, .review-S:nth-child(7) .bg1 .bg-inner .bg-paint, .review-A:nth-child(7) .bg1 .bg-inner .bg-paint, .review-B:nth-child(7) .bg1 .bg-inner .bg-paint, .review-C:nth-child(7) .bg1 .bg-inner .bg-paint, .review-D:nth-child(7) .bg1 .bg-inner .bg-paint, .review-F:nth-child(7) .bg1 .bg-inner .bg-paint,
.glow:nth-child(7) .bg2 .bg-inner .bg-paint,
.review-π:nth-child(7) .bg2 .bg-inner .bg-paint,
.review-S:nth-child(7) .bg2 .bg-inner .bg-paint,
.review-A:nth-child(7) .bg2 .bg-inner .bg-paint,
.review-B:nth-child(7) .bg2 .bg-inner .bg-paint,
.review-C:nth-child(7) .bg2 .bg-inner .bg-paint,
.review-D:nth-child(7) .bg2 .bg-inner .bg-paint,
.review-F:nth-child(7) .bg2 .bg-inner .bg-paint {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.glow:nth-child(8) .bg1 .bg-inner .bg-paint, .review-π:nth-child(8) .bg1 .bg-inner .bg-paint, .review-S:nth-child(8) .bg1 .bg-inner .bg-paint, .review-A:nth-child(8) .bg1 .bg-inner .bg-paint, .review-B:nth-child(8) .bg1 .bg-inner .bg-paint, .review-C:nth-child(8) .bg1 .bg-inner .bg-paint, .review-D:nth-child(8) .bg1 .bg-inner .bg-paint, .review-F:nth-child(8) .bg1 .bg-inner .bg-paint,
.glow:nth-child(8) .bg2 .bg-inner .bg-paint,
.review-π:nth-child(8) .bg2 .bg-inner .bg-paint,
.review-S:nth-child(8) .bg2 .bg-inner .bg-paint,
.review-A:nth-child(8) .bg2 .bg-inner .bg-paint,
.review-B:nth-child(8) .bg2 .bg-inner .bg-paint,
.review-C:nth-child(8) .bg2 .bg-inner .bg-paint,
.review-D:nth-child(8) .bg2 .bg-inner .bg-paint,
.review-F:nth-child(8) .bg2 .bg-inner .bg-paint {
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
}

.glow:nth-child(9) .bg1 .bg-inner .bg-paint, .review-π:nth-child(9) .bg1 .bg-inner .bg-paint, .review-S:nth-child(9) .bg1 .bg-inner .bg-paint, .review-A:nth-child(9) .bg1 .bg-inner .bg-paint, .review-B:nth-child(9) .bg1 .bg-inner .bg-paint, .review-C:nth-child(9) .bg1 .bg-inner .bg-paint, .review-D:nth-child(9) .bg1 .bg-inner .bg-paint, .review-F:nth-child(9) .bg1 .bg-inner .bg-paint,
.glow:nth-child(9) .bg2 .bg-inner .bg-paint,
.review-π:nth-child(9) .bg2 .bg-inner .bg-paint,
.review-S:nth-child(9) .bg2 .bg-inner .bg-paint,
.review-A:nth-child(9) .bg2 .bg-inner .bg-paint,
.review-B:nth-child(9) .bg2 .bg-inner .bg-paint,
.review-C:nth-child(9) .bg2 .bg-inner .bg-paint,
.review-D:nth-child(9) .bg2 .bg-inner .bg-paint,
.review-F:nth-child(9) .bg2 .bg-inner .bg-paint {
  -webkit-animation-delay: -13s;
          animation-delay: -13s;
}

.glow:nth-child(10) .bg1 .bg-inner .bg-paint, .review-π:nth-child(10) .bg1 .bg-inner .bg-paint, .review-S:nth-child(10) .bg1 .bg-inner .bg-paint, .review-A:nth-child(10) .bg1 .bg-inner .bg-paint, .review-B:nth-child(10) .bg1 .bg-inner .bg-paint, .review-C:nth-child(10) .bg1 .bg-inner .bg-paint, .review-D:nth-child(10) .bg1 .bg-inner .bg-paint, .review-F:nth-child(10) .bg1 .bg-inner .bg-paint,
.glow:nth-child(10) .bg2 .bg-inner .bg-paint,
.review-π:nth-child(10) .bg2 .bg-inner .bg-paint,
.review-S:nth-child(10) .bg2 .bg-inner .bg-paint,
.review-A:nth-child(10) .bg2 .bg-inner .bg-paint,
.review-B:nth-child(10) .bg2 .bg-inner .bg-paint,
.review-C:nth-child(10) .bg2 .bg-inner .bg-paint,
.review-D:nth-child(10) .bg2 .bg-inner .bg-paint,
.review-F:nth-child(10) .bg2 .bg-inner .bg-paint {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

.glow:nth-child(11) .bg1 .bg-inner .bg-paint, .review-π:nth-child(11) .bg1 .bg-inner .bg-paint, .review-S:nth-child(11) .bg1 .bg-inner .bg-paint, .review-A:nth-child(11) .bg1 .bg-inner .bg-paint, .review-B:nth-child(11) .bg1 .bg-inner .bg-paint, .review-C:nth-child(11) .bg1 .bg-inner .bg-paint, .review-D:nth-child(11) .bg1 .bg-inner .bg-paint, .review-F:nth-child(11) .bg1 .bg-inner .bg-paint,
.glow:nth-child(11) .bg2 .bg-inner .bg-paint,
.review-π:nth-child(11) .bg2 .bg-inner .bg-paint,
.review-S:nth-child(11) .bg2 .bg-inner .bg-paint,
.review-A:nth-child(11) .bg2 .bg-inner .bg-paint,
.review-B:nth-child(11) .bg2 .bg-inner .bg-paint,
.review-C:nth-child(11) .bg2 .bg-inner .bg-paint,
.review-D:nth-child(11) .bg2 .bg-inner .bg-paint,
.review-F:nth-child(11) .bg2 .bg-inner .bg-paint {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.glow:nth-child(12) .bg1 .bg-inner .bg-paint, .review-π:nth-child(12) .bg1 .bg-inner .bg-paint, .review-S:nth-child(12) .bg1 .bg-inner .bg-paint, .review-A:nth-child(12) .bg1 .bg-inner .bg-paint, .review-B:nth-child(12) .bg1 .bg-inner .bg-paint, .review-C:nth-child(12) .bg1 .bg-inner .bg-paint, .review-D:nth-child(12) .bg1 .bg-inner .bg-paint, .review-F:nth-child(12) .bg1 .bg-inner .bg-paint,
.glow:nth-child(12) .bg2 .bg-inner .bg-paint,
.review-π:nth-child(12) .bg2 .bg-inner .bg-paint,
.review-S:nth-child(12) .bg2 .bg-inner .bg-paint,
.review-A:nth-child(12) .bg2 .bg-inner .bg-paint,
.review-B:nth-child(12) .bg2 .bg-inner .bg-paint,
.review-C:nth-child(12) .bg2 .bg-inner .bg-paint,
.review-D:nth-child(12) .bg2 .bg-inner .bg-paint,
.review-F:nth-child(12) .bg2 .bg-inner .bg-paint {
  -webkit-animation-delay: -9s;
          animation-delay: -9s;
}

.glow:nth-child(13) .bg1 .bg-inner .bg-paint, .review-π:nth-child(13) .bg1 .bg-inner .bg-paint, .review-S:nth-child(13) .bg1 .bg-inner .bg-paint, .review-A:nth-child(13) .bg1 .bg-inner .bg-paint, .review-B:nth-child(13) .bg1 .bg-inner .bg-paint, .review-C:nth-child(13) .bg1 .bg-inner .bg-paint, .review-D:nth-child(13) .bg1 .bg-inner .bg-paint, .review-F:nth-child(13) .bg1 .bg-inner .bg-paint,
.glow:nth-child(13) .bg2 .bg-inner .bg-paint,
.review-π:nth-child(13) .bg2 .bg-inner .bg-paint,
.review-S:nth-child(13) .bg2 .bg-inner .bg-paint,
.review-A:nth-child(13) .bg2 .bg-inner .bg-paint,
.review-B:nth-child(13) .bg2 .bg-inner .bg-paint,
.review-C:nth-child(13) .bg2 .bg-inner .bg-paint,
.review-D:nth-child(13) .bg2 .bg-inner .bg-paint,
.review-F:nth-child(13) .bg2 .bg-inner .bg-paint {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

.glow:nth-child(14) .bg1 .bg-inner .bg-paint, .review-π:nth-child(14) .bg1 .bg-inner .bg-paint, .review-S:nth-child(14) .bg1 .bg-inner .bg-paint, .review-A:nth-child(14) .bg1 .bg-inner .bg-paint, .review-B:nth-child(14) .bg1 .bg-inner .bg-paint, .review-C:nth-child(14) .bg1 .bg-inner .bg-paint, .review-D:nth-child(14) .bg1 .bg-inner .bg-paint, .review-F:nth-child(14) .bg1 .bg-inner .bg-paint,
.glow:nth-child(14) .bg2 .bg-inner .bg-paint,
.review-π:nth-child(14) .bg2 .bg-inner .bg-paint,
.review-S:nth-child(14) .bg2 .bg-inner .bg-paint,
.review-A:nth-child(14) .bg2 .bg-inner .bg-paint,
.review-B:nth-child(14) .bg2 .bg-inner .bg-paint,
.review-C:nth-child(14) .bg2 .bg-inner .bg-paint,
.review-D:nth-child(14) .bg2 .bg-inner .bg-paint,
.review-F:nth-child(14) .bg2 .bg-inner .bg-paint {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
}

.glow:nth-child(15) .bg1 .bg-inner .bg-paint, .review-π:nth-child(15) .bg1 .bg-inner .bg-paint, .review-S:nth-child(15) .bg1 .bg-inner .bg-paint, .review-A:nth-child(15) .bg1 .bg-inner .bg-paint, .review-B:nth-child(15) .bg1 .bg-inner .bg-paint, .review-C:nth-child(15) .bg1 .bg-inner .bg-paint, .review-D:nth-child(15) .bg1 .bg-inner .bg-paint, .review-F:nth-child(15) .bg1 .bg-inner .bg-paint,
.glow:nth-child(15) .bg2 .bg-inner .bg-paint,
.review-π:nth-child(15) .bg2 .bg-inner .bg-paint,
.review-S:nth-child(15) .bg2 .bg-inner .bg-paint,
.review-A:nth-child(15) .bg2 .bg-inner .bg-paint,
.review-B:nth-child(15) .bg2 .bg-inner .bg-paint,
.review-C:nth-child(15) .bg2 .bg-inner .bg-paint,
.review-D:nth-child(15) .bg2 .bg-inner .bg-paint,
.review-F:nth-child(15) .bg2 .bg-inner .bg-paint {
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
}

.glow:nth-child(16) .bg1 .bg-inner .bg-paint, .review-π:nth-child(16) .bg1 .bg-inner .bg-paint, .review-S:nth-child(16) .bg1 .bg-inner .bg-paint, .review-A:nth-child(16) .bg1 .bg-inner .bg-paint, .review-B:nth-child(16) .bg1 .bg-inner .bg-paint, .review-C:nth-child(16) .bg1 .bg-inner .bg-paint, .review-D:nth-child(16) .bg1 .bg-inner .bg-paint, .review-F:nth-child(16) .bg1 .bg-inner .bg-paint,
.glow:nth-child(16) .bg2 .bg-inner .bg-paint,
.review-π:nth-child(16) .bg2 .bg-inner .bg-paint,
.review-S:nth-child(16) .bg2 .bg-inner .bg-paint,
.review-A:nth-child(16) .bg2 .bg-inner .bg-paint,
.review-B:nth-child(16) .bg2 .bg-inner .bg-paint,
.review-C:nth-child(16) .bg2 .bg-inner .bg-paint,
.review-D:nth-child(16) .bg2 .bg-inner .bg-paint,
.review-F:nth-child(16) .bg2 .bg-inner .bg-paint {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

.glow:nth-child(17) .bg1 .bg-inner .bg-paint, .review-π:nth-child(17) .bg1 .bg-inner .bg-paint, .review-S:nth-child(17) .bg1 .bg-inner .bg-paint, .review-A:nth-child(17) .bg1 .bg-inner .bg-paint, .review-B:nth-child(17) .bg1 .bg-inner .bg-paint, .review-C:nth-child(17) .bg1 .bg-inner .bg-paint, .review-D:nth-child(17) .bg1 .bg-inner .bg-paint, .review-F:nth-child(17) .bg1 .bg-inner .bg-paint,
.glow:nth-child(17) .bg2 .bg-inner .bg-paint,
.review-π:nth-child(17) .bg2 .bg-inner .bg-paint,
.review-S:nth-child(17) .bg2 .bg-inner .bg-paint,
.review-A:nth-child(17) .bg2 .bg-inner .bg-paint,
.review-B:nth-child(17) .bg2 .bg-inner .bg-paint,
.review-C:nth-child(17) .bg2 .bg-inner .bg-paint,
.review-D:nth-child(17) .bg2 .bg-inner .bg-paint,
.review-F:nth-child(17) .bg2 .bg-inner .bg-paint {
  -webkit-animation-delay: -11s;
          animation-delay: -11s;
}

.spoiler {
  color: transparent;
  text-shadow: 0 0 10px #dedede;
  -webkit-transition: text-shadow 0.5s, color 0.5s;
  transition: text-shadow 0.5s, color 0.5s;
}

.spoiler:hover {
  @apply text-main-300;
  text-shadow: none;
}
